<%- if param[:data][RDF.type.to_s]&.include? "https://w3id.org/jp-textbook/Textbook" -%>
<div class="row">
  <div class="col-md-12">
  <h2>Links</h2>
  <ul>
    <%- param[:data]["https://w3id.org/jp-textbook/item"].each do |item| -%>
      <%- if param[:data_global][item] -%>
        <%- if param[:data_global][item]["http://dl.nier.go.jp/library/vocab/recordID"] -%>
          <li><a href="https://nieropac.nier.go.jp/lib/database/TEXTBOOK/<%=h param[:data_global][item]["http://dl.nier.go.jp/library/vocab/recordID"].first %>/?lang=1">NIER Library of Education OPAC</a> <span class="callNumber" title="call number"><%=h param[:data_global][item]["http://dl.nier.go.jp/library/vocab/callNumber"].first %></span></li>
        <%- elsif param[:data_global][item]["http://dl.nier.go.jp/library/vocab/textbook-rc/recordID"] -%>
          <%- recordID = param[:data_global][item]["http://dl.nier.go.jp/library/vocab/textbook-rc/recordID"].first %>
    <li><a href="javascript:document.getElementById('textbook_rc_lib_<%=h recordID %>').submit()">Textbook Library, Japan Textbook Research Center OPAC</a> <span class="callNumber" title="call number"><%=h param[:data_global][item]["http://dl.nier.go.jp/library/vocab/textbook-rc/callNumber"].first %></span></li>
    <form action="https://textbook-rc-lib.net/Opac/search.htm" id="textbook_rc_lib_<%=h recordID %>" method="post">
    <input type="hidden" name="s" value="-cKZ-xZqMVYzA_3dOR9fO1zB6wh">
    <input type="hidden" name="ie6_s_target" value="ds">
    <input type="hidden" name="form_name" value="form">
    <input type="hidden" name="d_free_word" value="<%=h recordID %>">
    <input type="hidden" name="ds" value="検索">
    </form>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </ul>
  <%- if param[:data][RDF::RDFS.seeAlso.to_s] -%>
  <ul>
    <%- param[:data][RDF::RDFS.seeAlso.to_s].each do |link| -%>
      <%- case link -%>
      <%- when %r|\Ahttp://id.ndl.go.jp/jpno/| -%>
      <li><a href="<%=h link %>">NDL Search (JPNO: <%=h link.split(/\//).last %>)</a></li>
      <%- when %r|\Ahttp://id.ndl.go.jp/bib/| -%>
      <li><a href="<%=h link %>">NDL Online (NDLBibID: <%=h link.split(/\//).last %>)/li>
      <%- when %r|\Ahttps://ci.nii.ac.jp/ncid/| -%>
      <li><a href="<%=h link %>">CiNii Books (NCID: <%=h link.split(/\//).last %>)</a></li>
      <%- else -%>
      <li><a href="<%=h link %>"><%=h link %></a></li>
      <%- end -%>
    <%- end -%>
  </ul>
  <%- end -%>
  <%- if param[:data]["http://schema.org/isbn"] -%>
  <ul>
    <%-
      { "NDL Search": "http://iss.ndl.go.jp/api/openurl?isbn=",
        "CiNii Books": "http://ci.nii.ac.jp/books/openurl/query?isbn=",
        "Calil": "http://api.calil.jp/openurl?rft.isbn=",
      }.each do |label, url|
        next if url == "http://iss.ndl.go.jp/api/openurl?isbn=" and param[:data][RDF::RDFS.seeAlso.to_s] and param[:data][RDF::RDFS.seeAlso.to_s].find{|e| e =~ %r|\Ahttp://id.ndl.go.jp/| }
        next if url == "http://ci.nii.ac.jp/books/openurl/query?isbn=" and param[:data][RDF::RDFS.seeAlso.to_s] and param[:data][RDF::RDFS.seeAlso.to_s].find{|e| e =~ %r|\Ahttps://ci.nii.ac.jp/ncid/| }
        param[:data]["http://schema.org/isbn"].each do |isbn| -%>
          <li><a href="<%= url %><%=h isbn %>"><%=h label %></a><%=h param[:data]["http://schema.org/isbn"].size > 1 ? " (#{isbn})" : "" %></li>
      <%- end -%>
    <%- end -%>
  </ul>
  <%- end -%>
  </div>
</div>
<%- end -%>
