<div class="row">
  <div class="col-md-12">
    <h2>Current Curriculum Guideline (Since AY2020)</h2>
    <dl>
      <%- [ "https://w3id.org/jp-textbook/curriculum/小学校/2020",
            "https://w3id.org/jp-textbook/curriculum/中学校/2021",
            "https://w3id.org/jp-textbook/curriculum/高等学校/2022",
          ].each do |uri| -%>
          <%- school = param[:data_global][uri]["https://w3id.org/jp-textbook/school"].first -%>
      <dt><%=h param[:data_global][school]["http://schema.org/name"][:en] %>
          <small><a href="<%= relative_path_uri(uri, param[:base_uri]) %>">
            <i class="bi bi-book"></i> Curriculum guideline
          </a></small>
      <dd><ul class="list-inline">
        <%- param[:data_global][uri]["https://w3id.org/jp-textbook/hasSubjectArea"].sort_by{|e| param[:data_global][e]["http://purl.org/linked-data/cube#order"].first.to_i }.each do |subject_area| -%>
          <%- param[:data_global][subject_area]["https://w3id.org/jp-textbook/hasSubject"]&.each do |subject| -%>
          <li class="list-inline-item"><%= format_object(subject, param[:data_global]) %></li>
          <%- end -%>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Old Curriculum Guideline (Since AY2011)</h2>
    <dl>
      <%- [ "https://w3id.org/jp-textbook/curriculum/小学校/2011",
            "https://w3id.org/jp-textbook/curriculum/中学校/2012",
            "https://w3id.org/jp-textbook/curriculum/高等学校/2013",
          ].each do |uri| -%>
          <%- school = param[:data_global][uri]["https://w3id.org/jp-textbook/school"].first -%>
      <dt><%=h param[:data_global][school]["http://schema.org/name"][:en] %>
          <small><a href="<%= relative_path_uri(uri, param[:base_uri]) %>">
            <i class="bi bi-book"></i> Curriculum guideline
          </a></small>
      <dd><ul class="list-inline">
        <%- param[:data_global][uri]["https://w3id.org/jp-textbook/hasSubjectArea"].sort_by{|e| param[:data_global][e]["http://purl.org/linked-data/cube#order"].first.to_i }.each do |subject_area| -%>
          <%- param[:data_global][subject_area]["https://w3id.org/jp-textbook/hasSubject"]&.each do |subject| -%>
          <li class="list-inline-item"><%= format_object(subject, param[:data_global]) %></li>
          <%- end -%>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>
  <div class="col-md-4">
    <h2>Old Curriculum Guideline (Since AY2002)</h2>
    <dl>
      <%- [ "https://w3id.org/jp-textbook/curriculum/小学校/2002",
            "https://w3id.org/jp-textbook/curriculum/中学校/2002",
            "https://w3id.org/jp-textbook/curriculum/高等学校/2003",
          ].each do |uri| -%>
          <%- school = param[:data_global][uri]["https://w3id.org/jp-textbook/school"].first -%>
      <dt><%=h param[:data_global][school]["http://schema.org/name"][:en] %>
          <small><a href="<%= relative_path_uri(uri, param[:base_uri]) %>">
            <i class="bi bi-book"></i> Curriculum guideline
          </a></small>
      <dd><ul class="list-inline">
        <%- param[:data_global][uri]["https://w3id.org/jp-textbook/hasSubjectArea"].sort_by{|e| param[:data_global][e]["http://purl.org/linked-data/cube#order"].first.to_i }.each do |subject_area| -%>
          <%- param[:data_global][subject_area]["https://w3id.org/jp-textbook/hasSubject"]&.each do |subject| -%>
          <li class="list-inline-item"><%= format_object(subject, param[:data_global]) %></li>
          <%- end -%>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>
  <div class="col-md-4">
    <h2>Old Curriculum Guideline (Since AY1992)</h2>
    <dl>
      <%- [ "https://w3id.org/jp-textbook/curriculum/小学校/1992",
            "https://w3id.org/jp-textbook/curriculum/中学校/1993",
            "https://w3id.org/jp-textbook/curriculum/高等学校/1994",
          ].each do |uri| -%>
          <%- school = param[:data_global][uri]["https://w3id.org/jp-textbook/school"].first -%>
      <dt><%=h param[:data_global][school]["http://schema.org/name"][:en] %>
          <small><a href="<%= relative_path_uri(uri, param[:base_uri]) %>">
            <i class="bi bi-book"></i> Curriculum guideline
          </a></small>
      <dd><ul class="list-inline">
        <%- param[:data_global][uri]["https://w3id.org/jp-textbook/hasSubjectArea"].sort_by{|e| param[:data_global][e]["http://purl.org/linked-data/cube#order"].first.to_i }.each do |subject_area| -%>
          <%- param[:data_global][subject_area]["https://w3id.org/jp-textbook/hasSubject"]&.each do |subject| -%>
          <li class="list-inline-item"><%= format_object(subject, param[:data_global]) %></li>
          <%- end -%>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>List of Textbook Catalogues</h2>
    <p>The following lists represents the usage year for the textbooks.</p>
    <dl>
      <%- %w( 小学校 中学校 高等学校 ).each do |school| -%>
      <dt><%- case school -%>
          <%- when "小学校" -%>
          Elementary school
          <%- when "中学校" -%>
          Lower Secondary School
          <%- when "高等学校" -%>
          Upper Secondary School
          <%- end -%>
      </dt>
      <dd>
      <ul class="list-inline">
        <%- param[:data_global].keys.select{|e|
              param[:data_global][e][RDF.type.to_s]&.include?("https://w3id.org/jp-textbook/Catalogue") and param[:data_global][e]["https://w3id.org/jp-textbook/school"].first == "https://w3id.org/jp-textbook/school/#{school}"
            }.sort.reverse.each do |catalogue| -%>
        <li class="list-inline-item"><a href="<%=h relative_path_uri(catalogue, param[:base_uri]) %>"><%=h catalogue.split(/\//).last.to_i + 1 %></a></li>
        <%- end -%>
      </ul>
      </dd>
      <%- end -%>
    </dl>
  </div>
</div>