    <div class="jumbotron">
      <div class="container">
        <h1>About Japanese Textbook LOD</h1>
        <p>The Japanese Textbook LOD Project provides the dataset as Linked Open Data (LOD) for curriculum guidelines, bibliographic information for textbooks, and other related information.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="./"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
          <li class="active">About</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <h2 id="overview">Overview</h2>
          <p>
          This project provides a LOD dataset for textbooks published up to now since the 7th curriculum guideline enforced in 1992, as well as the related information such as the subject areas, the subjects, and the curriculum guidelines.
          As of December 2018, the dataset contains bibliographic information for 7,548 textbook titles and 218,206 triples as RDF data.
          </p>
          <p>
          The dataset is based on a collection of textbooks held and organized by <a href="http://www.nier.go.jp/English/library/index.html">NIER Library of Education</a> for several decades. These catalogs can be searched through <a href="https://nierlib.nier.go.jp/?page_id=109">Textbook Database</a> at the NIER Library of Education website. ISBNs of the dataset are from <a href="http://textbook-rc.or.jp/en-GB/library/">Textbook Research Center Library</a> catalogs.
          </p>
          <p>
          Please refer to the following papers and documents on the details on the development and publishing the Japanese Textbook LOD.
          </p>
          <ul>
            <li>Yuka Egusa, Masao Takaku. Building and Publishing Japanese Textbook Linked Open Data. <i>The Journal of Information Science and Technology Association = 情報の科学と技術</i>. 2018, Vol.68, No.7, pp.361-367, <a href="https://doi.org/10.18919/jkg.68.7_361">https://doi.org/10.18919/jkg.68.7_361</a>, <a href="http://hdl.handle.net/2241/00152209">http://hdl.handle.net/2241/00152209</a> (in Japanese)</li>
            <li><a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit.en">Poorman’s Linked Data Toolkit : Let's make Linked Data easily!</a></li>
          </ul>

          <h2 id="lod-model">LOD Vocaburaries / Data Model</h2>
          <p>
          The figure below is the overview of the model of the Japanese Textbook LOD.
          The base URI for the Japanese Textbook LOD is https://w3id.org/jp-textbook/, the base URI is shown as the prefix <code>textbook:</code>.
          </p>
          <p><img class="img-responsive img-rounded" src="../lod-model.png" alt="Data model of the Japanese Textbook LOD"></p>
          <h3 id="textbook-resource">Textbook Resources</h3>
          <h4>URI for the Textbook Resources</h4>
          <p>
          URIs for the textbook resources are represented as the following forms:
          <br>
          <code>https://w3id.org/jp-textbook/<var>type of schools</var>/<var>authorized year</var>/<var>textbook symbol</var>/<var>textbook number</var></code>
          </p>
          <p>
          Using the prefix, it is also representated as follows:
          <br>
          <code>textbook:<var>type of schools</var>/<var>authorized year</var>/<var>textbook symbol</var>/<var>textbook number</var></code>
          </p>
          <p>
          Following the LOD principle, the dataset allows users to get useful information when accessing the URIs for textbooks. And you can get the RDF data of the turtle format when you access to the URIs followed by <code>.ttl</code>, 
          </p>
          <h4>Properties for the Textbook Resources</h4>
          <p>The properties for the textbook resources are as follows:</p>
          <%= param["TextbookShape_en"] -%>

          <h3 id="curriculum-resource">Curriculum Guideline Resources</h3>
          <h4>URIs for the Curriculum Guideline Resources</h4>
          <p>
          URIs for the curriculum guideline resources are represented as follows:
          <br>
          <code>https://w3id.org/jp-textbook/curriculum/<var>type of schools</var>/<var>year of enforcement</var></code>
          </p>
          <p>
          Using the prefix, it is also represented as follows:
          <br>
          <code>textbook:curriculum/<var>type of schools</var>/<var>year of enforcement</var></code>
          </p>
          <h4>Properties for the Curriculum Guidelines Resources</h4>
          <p>The properties for the curriculum guidelines resources are as follows:</p>
          <%= param["CurriculumGuidelineShape_en"] -%>
          <h3 id="subject-area-resource">Subject Areas Resources</h3>
          <h4>Subject Area Resources</h4>
          <p>
          URIs for the subject area resources are represented as follows:
          <br>
          <code>https://w3id.org/jp-textbook/curriculum/<var>type of schools</var>/<var>year of enforcement</var>/<var>name of subject area</var></code>
          </p>
          <p>
          Using the prefix, it is also represented as follows:
          <br>
          <code>textbook:curriculum/<var>type of schools</var>/<var>year of enforcement</var>/<var>name of subject area</var></code>
          </p>
          <h4>Properties for the Subject Area Resources</h4>
          <p>The properties for the subject area resources are as follows:</p>
          <%= param["curriculum/SubjectAreaShape_en"] -%>
          <p>Note that a subject area resources are linked from a curriculum guideline with a <code>textbook:hasSubjectArea</code> property.</p>
          <h3 id="subject-resource">Subject Resources</h3>
          <p>
          A subject in this dataset is corresponding to an item where textbook creators apply for the authorization of the textbook.
          This means that most of the subjects are equivalent with subjects in the curriculum guidelines, but some of them are different ones.
          For instance, some subjects such as Maps and Penmanship are defined as a subject while they do not exist in the guidelines.
          And also, the merged subjects "Health and Physical Education" are defined, they are corresponding to the multiple subjects in the guidelines.
          <h4>URIs for the Subject Resources</h4>
          <p>
          URIs for the subject resources are represented as follows:
          <br>
          <code>https://w3id.org/jp-textbook/curriculum/<var>type of schools</var>/<var>year of enforcement</var>/<var>subject area name</var>/<var>subject name</var></code>
          </p>
          <p>
          Using the prefix, it is also represented as follows:
          <br>
          <code>textbook:curriculum/<var>type of schools</var>/<var>year of enforcement</var>/<var>subject area name</var>/<var>subject name</var></code>
          </p>
          <h4>Properties for the Subject Resources</h4>
          <p>The properties for the subject resources are as follows:</p>
          <%= param["curriculum/SubjectShape_en"] -%>
          <p>Note that a subject resources are linked from a subject area with a <code>textbook:hasSubject</code> property.</p>
          <h3 id="catalogue-resource">Textbook Catalogue Resources</h3>
          <p>
          An annual textbook catalogue is a book which lists textbooks usable for the year.
          </p>
          <p>
          Recent textbook catalogues are available at the MEXT website: <a href="http://www.mext.go.jp/a_menu/shotou/kyoukasho/mokuroku.htm">http://www.mext.go.jp/a_menu/shotou/kyoukasho/mokuroku.htm</a>
          </p>
          <h4>URIs for the Textbook Catalogue Resources</h4>
          <p>
          URIs for the textbook catalogues are represented as follows:
          <br>
          <code>https://w3id.org/jp-textbook/catalogue/<var>type of schools</var>/<var>publication year</var></code>
          </p>
          <p>
          Using the prefix, it is also represented as follows:
          <br>
          <code>textbook:catalogue/<var>type of schools</var>/<var>publication year</var></code>
          </p>
          <h4>Properties for the Textbook Catalogue Resources</h4>
          <p>The properties for the textbook catalogue resources are as follows:</p>
          <%= param["CatalogueShape_en"] -%>
          <h3 id="publisher-resource">Publisher Resources</h3>
          <p>
          This resource represents publisher for a textbook.
          </p>
          <h4>URIs for Publisher Resources</h4>
          <p>
          URIs for the publisher resources are represented as follows:
          <br>
          <code>https://w3id.org/jp-textbook/publisher/<var>publication year of the textbook catalogue listed</var>/<var>abbreviated name</var></code>
          </p>
          <p>
          Using the prefix, it is also represented as follows:
          <br>
          <code>textbook:publisher/<var>publication year of the textbook catalogue listed</var>/<var>abbreviated name</var></code>
          </p>
          <h4>Properties for the Publisher Resources</h4>
          <p>The properties for the publisher resources are as follows:</p>
          <%= param["PublisherShape_en"] %>
          <h3 id="school-resource">School Resources</h3>
          <p>
          This resource represents type of schools such as elementary schools.
          </p>
          <h4>URIs for the School Resources</h4>
          <p>
          URIs for the school resources are represented as follows:
          <br>
          <code>https://w3id.org/jp-textbook/school/<var>type of schools</var></code>
          </p>
          <p>
          Using the prefix, it is also represented as follows:
          <br>
          <code>textbook:school/<var>type of schools</var></code>
          </p>
          <h4>Properties for the School Resources</h4>
          <p>The properties for the school resources are as follows:</p>
          <%= param["SchoolShape_en"] %>
          <h3 id="subjecttype-resource">Type of Subject/Subject Area Resources</h3>
          <p>
          This resource represents the type of subject/subject areas.
          </p>
          <h4>URIs for the Type of Subject/Subject Area Resources</h4>
          <p>
          URIs for the type of subject/subject area resources are represented as follows:
          <br>
           <code>https://w3id.org/jp-textbook/curriculum/<var>type of schools</var>/<var>guideline enforcement year</var>/<var>type of subjects/subject areas</var></code>
          </p>
          <p>
          Using the prefix, it is also represented as follows:
          <br>
          <code>textbook:curriculum/<var>type of schools</var>/<var>guideline enforcement year</var>/<var>type of subjects/subject areas</var></code>
          </p>
          <p>The type values are either of <var>Common</var> or <var>Special</var>.</p>
          <h4>Properties for the Type of Subject/Subject Area Resources</h4>
          <p>The properties for the type of subject/subject area resources are as follows:</p>
          <%= param["SubjectTypeShape_en"] %>
          <h3 id="original-vocabulary">List of Original Vocaburary</h3>
          <h4 id="original-class">Classes</h4>
          <ul>
            <li><a href="https://w3id.org/jp-textbook/Catalogue">https://w3id.org/jp-textbook/Catalogue</a></li>
            <li><a href="https://w3id.org/jp-textbook/CurriculumGuideline">https://w3id.org/jp-textbook/CurriculumGuideline</a></li>
            <li><a href="https://w3id.org/jp-textbook/Publisher">https://w3id.org/jp-textbook/Publisher</a></li>
            <li><a href="https://w3id.org/jp-textbook/School">https://w3id.org/jp-textbook/School</a></li>
            <li><a href="https://w3id.org/jp-textbook/SubjectType">https://w3id.org/jp-textbook/SubjectType</a></li>
            <li><a href="https://w3id.org/jp-textbook/Textbook">https://w3id.org/jp-textbook/Textbook</a></li>
            <li><a href="https://w3id.org/jp-textbook/SubjectArea">https://w3id.org/jp-textbook/SubjectArea</a></li>
            <li><a href="https://w3id.org/jp-textbook/Subject">https://w3id.org/jp-textbook/Subject</a></li>
          </ul>
          <h4 id="original-property">Properties</h4>
          <ul>
            <li><a href="https://w3id.org/jp-textbook/authorizedYear">https://w3id.org/jp-textbook/authorizedYear</a></li>
            <li><a href="https://w3id.org/jp-textbook/catalogue">https://w3id.org/jp-textbook/catalogue</a></li>
            <li><a href="https://w3id.org/jp-textbook/catalogueYear">https://w3id.org/jp-textbook/catalogueYear</a></li>
            <li><a href="https://w3id.org/jp-textbook/curriculum">https://w3id.org/jp-textbook/curriculum</a></li>
            <li><a href="https://w3id.org/jp-textbook/grade">https://w3id.org/jp-textbook/grade</a></li>
            <li><a href="https://w3id.org/jp-textbook/hasSubject">https://w3id.org/jp-textbook/hasSubject</a></li>
            <li><a href="https://w3id.org/jp-textbook/hasSubjectArea">https://w3id.org/jp-textbook/hasSubjectArea</a></li>
            <li><a href="https://w3id.org/jp-textbook/item">https://w3id.org/jp-textbook/item</a></li>
            <li><a href="https://w3id.org/jp-textbook/publisherAbbreviation">https://w3id.org/jp-textbook/publisherAbbreviation</a></li>
            <li><a href="https://w3id.org/jp-textbook/publisherNumber">https://w3id.org/jp-textbook/publisherNumber</a></li>
            <li><a href="https://w3id.org/jp-textbook/school">https://w3id.org/jp-textbook/school</a></li>
            <li><a href="https://w3id.org/jp-textbook/sourceOfEnglishName">https://w3id.org/jp-textbook/sourceOfEnglishName</a></li>
            <li><a href="https://w3id.org/jp-textbook/subjectType">https://w3id.org/jp-textbook/subjectType</a></li>
            <li><a href="https://w3id.org/jp-textbook/textbookNumber">https://w3id.org/jp-textbook/textbookNumber</a></li>
            <li><a href="https://w3id.org/jp-textbook/textbookSymbol">https://w3id.org/jp-textbook/textbookSymbol</a></li>
            <li><a href="https://w3id.org/jp-textbook/usageYear">https://w3id.org/jp-textbook/usageYear</a></li>
          </ul>
          <h2 id="history">History</h2>
          <dl>
            <dt>December 21st, 2018</dt>
            <dd>Version 11.2 release.
            Add a shape expression for RDF graph as a metadata schema for this dataset based on <a href="https://www.w3.org/TR/shacl/">SHACL Standard</a>.
            Change to generate a documentation of application profile including description on properties from a SHACL file.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/24?closed=1">Milestone 11.2</a> on Github.
            <ul>
              <li><a href="../all-20181220.ttl">all-20181220.ttl</a> (Total size: 12MB, 219,018 triples)
              <ul>
                <li><a href="../textbook-20181129.ttl">textbook-20181129.ttl</a></li>
                <li><a href="../textbook-rc-20180916.ttl">textbook-rc-20180916.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180822.ttl">curriculum-versions-20180822.ttl</a></li>
                <li><a href="../catalogue-20181130.ttl">catalogue-20181130.ttl</a></li>
                <li><a href="../subject-20180827.ttl">subject-20180827.ttl</a></li>
                <li><a href="../subjectArea-20180827.ttl">subjectArea-20180827.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                <li><a href="../publisher-20181130.ttl">publisher-20181130.ttl</a></li>
                <li><a href="../schema-20181013.ttl">schema-20181013.ttl</a></li>
                <li><a href="../shape-20181214.ttl">shape-20181214.ttl</a></li>
              </ul>
            </ul>
            <dt>December 3rd, 2018</dt>
            <dd>Version 11.1 release.
            Add a list of textbooks in the textbook catalogue pages.
            Fix errors in some of links from textbook resources to textbook catalogue resources,
            Fix errors in publication years at some of publisher resources.
            Add a list of textbook catalogues in the top page.
            Fix errors of duplicate listings of subjects in the top page.
            Update the LOD diagram in the about page.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/23?closed=1">Milestone 11.1</a> on Github.
            <ul>
              <li><a href="../all-20181130.ttl">all-20181130.ttl</a> (Total size: 12MB, 218,206 triples)
              <ul>
                <li><a href="../textbook-20181129.ttl">textbook-20181129.ttl</a></li>
                <li><a href="../textbook-rc-20180916.ttl">textbook-rc-20180916.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180822.ttl">curriculum-versions-20180822.ttl</a></li>
                <li><a href="../catalogue-20181130.ttl">catalogue-20181130.ttl</a></li>
                <li><a href="../subject-20180827.ttl">subject-20180827.ttl</a></li>
                <li><a href="../subjectArea-20180827.ttl">subjectArea-20180827.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                <li><a href="../publisher-20181130.ttl">publisher-20181130.ttl</a></li>
                <li><a href="../schema-20181013.ttl">schema-20181013.ttl</a></li>
              </ul>
            </ul>
            <dt>November 27th, 2018</dt>
            <dd>Version 11.0 release.
            Redefine the cataogue property links from the first appeared one to the listed cataloges as repeatable properties for each textbook.
            Fix several errors in publishers information.
            Add search functionalities in the LOD website through Google Custom Search.
            Fix several errors in the names of subjects.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/22?closed=1">Milestone 11.0</a> on Github.
            <ul>
              <li><a href="../all-20181125.ttl">all-20181125.ttl</a> (Total size: 11MB, 212,141 triples)
              <ul>
                <li><a href="../textbook-20181111.ttl">textbook-20181111.ttl</a></li>
                <li><a href="../textbook-rc-20180916.ttl">textbook-rc-20180916.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180822.ttl">curriculum-versions-20180822.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180827.ttl">subject-20180827.ttl</a></li>
                <li><a href="../subjectArea-20180827.ttl">subjectArea-20180827.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                <li><a href="../publisher-20181123.ttl">publisher-20181123.ttl</a></li>
                <li><a href="../schema-20181013.ttl">schema-20181013.ttl</a></li>
              </ul>
            </ul>
            <dt>October 13th, 2018</dt>
            <dd>Version 10.4 release.
            Add the links to identifiers of JPNO, NDLBibID, and NCID for the textbooks with ISBNs.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/21?closed=1">Milestone 10.4</a> on Github.
            <ul>
              <li><a href="../all-20181013.ttl">all-20181013.ttl</a> (Total size: 9.5MB, 185,658 triples)
              <ul>
                <li><a href="../textbook-20180831.ttl">textbook-20180831.ttl</a></li>
                <li><a href="../textbook-rc-20180916.ttl">textbook-rc-20180916.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180822.ttl">curriculum-versions-20180822.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180827.ttl">subject-20180827.ttl</a></li>
                <li><a href="../subjectArea-20180827.ttl">subjectArea-20180827.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                <li><a href="../publisher-20180826.ttl">publisher-20180826.ttl</a></li>
                <li><a href="../schema-20180913.ttl">schema-20180913.ttl</a></li>
              </ul>
            </ul>
            <dt>September 16th, 2018</dt>
            <dd>Version 10.3 release.
            Add the schema for our own classes and properties.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/20?closed=1">Milestone 10.3</a> on Github.
            <ul>
              <li><a href="../all-20180916.ttl">all-20180916.ttl</a> (Total size: 9.1MB, 178,303 triples)
              <ul>
                <li><a href="../textbook-20180831.ttl">textbook-20180831.ttl</a></li>
                <li><a href="../textbook-rc-20180812.ttl">textbook-rc-20180812.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180822.ttl">curriculum-versions-20180822.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180827.ttl">subject-20180827.ttl</a></li>
                <li><a href="../subjectArea-20180827.ttl">subjectArea-20180827.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                <li><a href="../publisher-20180826.ttl">publisher-20180826.ttl</a></li>
                <li><a href="../schema-20180913.ttl">schema-20180913.ttl</a></li>
              </ul>
            </ul>
            <dt>August 31st, 2018</dt>
            <dd>Version 10.2 release.
            Add the Corporate Numbers for the publisher resources.
            Change some names for publishers to use "The list of publishers" from textbook catalogues as the sources.
            Add multiple publisher links from textbooks when the same textbook has been published from them.
            Correct several errors in publisher numbers.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/19?closed=1">Milestone 10.2</a> on Github.
            <ul>
              <li><a href="../all-20180831.ttl">all-20180831.ttl</a> (Total size: 9.1MB, 178,146 triples)
              <ul>
                <li><a href="../textbook-20180831.ttl">textbook-20180831.ttl</a></li>
                <li><a href="../textbook-rc-20180812.ttl">textbook-rc-20180812.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180822.ttl">curriculum-versions-20180822.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180827.ttl">subject-20180827.ttl</a></li>
                <li><a href="../subjectArea-20180827.ttl">subjectArea-20180827.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                <li><a href="../publisher-20180826.ttl">publisher-20180826.ttl</a></li>
              </ul>
            </ul>
            <dt>August 28th, 2018</dt>
            <dd>Japanext Textbook LOD has been included into the LOD Cloud of 2018-08-28 version.
            <ul>
              <li><a href="https://lod-cloud.net">Linked Open Data Cloud</a></li>
              <li><a href="https://lod-cloud.net/dataset/jp-textbook">Dataset for jp-textbook</a></li>
            </ul>
            <dt>August 25th, 2018</dt>
            <dd>Version 10.1 release.
            Correct the URIs for publishers information.
            Add grouping list for the same publisher in the publisher pages.
            Add sources information for the name of subjects and subject areas.
            Change the title of English version of publishers page into Latin transcribed form.
            Support requests with "text/turtle" for each resource.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/18?closed=1">Milestone 10.1</a> on Github.
            <ul>
              <li><a href="../all-20180825.ttl">all-20180825.ttl</a> (Total size: 9.0MB, 177,410 triples)
              <ul>
                <li><a href="../textbook-20180820.ttl">textbook-20180820.ttl</a></li>
                <li><a href="../textbook-rc-20180812.ttl">textbook-rc-20180812.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180822.ttl">curriculum-versions-20180822.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180821.ttl">subject-20180821.ttl</a></li>
                <li><a href="../subjectArea-20180821.ttl">subjectArea-20180821.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                <li><a href="../publisher-20180825.ttl">publisher-20180825.ttl</a></li>
              </ul>
            </ul>
            <dt>August 20th, 2018</dt>
            <dd>Version 10.0 release.
            Added the resources for the publishers and related information.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/17?closed=1">Milestone 10.0</a> on Github.
            <ul>
              <li><a href="../all-20180820.ttl">all-20180820.ttl</a> (Total size: 8.6MB, 173,396 triples)
              <ul>
                <li><a href="../textbook-20180820.ttl">textbook-20180820.ttl</a></li>
                <li><a href="../textbook-rc-20180812.ttl">textbook-rc-20180812.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180811.ttl">curriculum-versions-20180811.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180812.ttl">subject-20180812.ttl</a></li>
                <li><a href="../subjectArea-20180812.ttl">subjectArea-20180812.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                <li><a href="../publisher-20180818.ttl">publisher-20180818.ttl</a></li>
              </ul>
            </ul>
            <dt>August 15th, 2018</dt>
            <dd>Version 9.1 release.
            Fixed errors in some of names in English names of subjects and subject areas.
            Added a logo image for the project.
            Added a logo previews when sharing the pages on Facebook and Twitter.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/16?closed=1">Milestone 9.1</a> on Github.
            <ul>
              <li><a href="../all-20180815.ttl">all-20180815.ttl</a> (Total size: 8.0MB, 166,237 triples)
              <ul>
                <li><a href="../textbook-20180811.ttl">textbook-20180811.ttl</a></li>
                <li><a href="../textbook-rc-20180812.ttl">textbook-rc-20180812.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180811.ttl">curriculum-versions-20180811.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180812.ttl">subject-20180812.ttl</a></li>
                <li><a href="../subjectArea-20180812.ttl">subjectArea-20180812.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
              </ul>
            </ul>
            <dt>August 14th, 2018</dt>
            <dd>Release the document on <a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit.en">How to make Linked Data easily, aka "Poorman's Linked Data Toolkit"</a>.
            <dt>August 12th, 2018</dt>
            <dd>Version 9.0 release.
            Added note fields described by NIER Education Library.
            Changed the original property <code>textbook:note</code> to BIBFRAME's <code>bf:note</code>.
            Changed the RDF class representing the textbooks from <code>schema:Book</code> to the original class <code>textbook:Textbook</code>.
            Changed property values representing the target grade to use the repeatable integer literals instead of textual literal.
            Added links to Curriculum guidelines and types of school resources from types of subject.
            Added English description in revisions information of curriculum guidelines.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/15?closed=1">Milestone 9.0</a> on Github.
            <ul>
              <li><a href="../all-20180812.ttl">all-20180812.ttl</a> (Total size: 8.0MB, 166,237 triples)
              <ul>
                <li><a href="../textbook-20180811.ttl">textbook-20180811.ttl</a></li>
                <li><a href="../textbook-rc-20180812.ttl">textbook-rc-20180812.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180811.ttl">curriculum-versions-20180811.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180804.ttl">subject-20180804.ttl</a></li>
                <li><a href="../subjectArea-20180806.ttl">subjectArea-20180806.ttl</a></li>
                <li><a href="../subjectType-20180811.ttl">subjectType-20180811.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
              </ul>
            </ul>
            <dt>August 9th, 2018</dt>
            <dd>Version 8.0 release.
            Added revisions information for curriculum guidelines.
            Changed the types of subject areas and subjects to use each curriculum guideline URI, and changed the related properties from each subject and subject area.
            The web site now shows all the property values in the details sections.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/14?closed=1">Milestone 8.0</a> on Github.
            <ul>
              <li><a href="../all-20180809.ttl">all-20180809.ttl</a> (Total size: 8.0MB, 165,325 triples)
              <ul>
                <li><a href="../textbook-20180715.ttl">textbook-20180715.ttl</a></li>
                <li><a href="../textbook-rc-20180725.ttl">textbook-rc-20180725.ttl</a></li>
                <li><a href="../curriculum-20180804.ttl">curriculum-20180804.ttl</a></li>
                <li><a href="../curriculum-versions-20180802.ttl">curriculum-versions-20180802.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180804.ttl">subject-20180804.ttl</a></li>
                <li><a href="../subjectArea-20180806.ttl">subjectArea-20180806.ttl</a></li>
                <li><a href="../subjectType-20180806.ttl">subjectType-20180806.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
              </ul>
              </li>
            </ul>
            <dt>July 28th, 2018</dt>
            <dd>Version 7.1 release.
            Added links to individual RDF/Turtle data.
            Added identifiers NCID and JPNO for each textbook catalogue.
            Added cross-links between Japanese and English pages respectively.
            Removed a few of textbook records out of scopes.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/13?closed=1">Milestone 7.1</a> on Github.
            <ul>
              <li><a href="../all-20180728.ttl">all-20180728.ttl</a> (Total size: 7.9MB, 164,553 triples)
              <ul>
                <li><a href="../textbook-20180715.ttl">textbook-20180715.ttl</a></li>
                <li><a href="../textbook-rc-20180725.ttl">textbook-rc-20180725.ttl</a></li>
                <li><a href="../curriculum-20180713.ttl">curriculum-20180713.ttl</a></li>
                <li><a href="../catalogue-20180727.ttl">catalogue-20180727.ttl</a></li>
                <li><a href="../subject-20180720.ttl">subject-20180720.ttl</a></li>
                <li><a href="../subjectArea-20180713.ttl">subjectArea-20180713.ttl</a></li>
                <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
              </ul>
              </li>
            </ul>
            <dt>July 21st, 2018</dt>
            <dd>Version 7.0 release.
            Added new bibliographic and holding information for textbooks used in AY2018.
            Added a new subject and subject area "Moral Education".
            Replaced the URIs for types of schools into new original URIs.
            Added English website for every page.
            Added Turtle format files for all the individual resources.
            Added related links to Calil website in the textbook pages.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/11?closed=1">Milestone 6.2</a> and <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/12?closed=1">7.0</a> on Github.
              <ul>
                <li><a href="../all-20180721.ttl">all-20180721.ttl</a> (Total size: 7.9MB, 164,387 triples）
                  <ul>
                    <li><a href="../textbook-20180715.ttl">textbook-20180715.ttl</a></li>
                    <li><a href="../textbook-rc-20180720.ttl">textbook-rc-20180720.ttl</a></li>
                    <li><a href="../curriculum-20180713.ttl">curriculum-20180713.ttl</a></li>
                    <li><a href="../catalogue-20180713.ttl">catalogue-20180713.ttl</a></li>
                    <li><a href="../subject-20180720.ttl">subject-20180720.ttl</a></li>
                    <li><a href="../subjectArea-20180713.ttl">subjectArea-20180713.ttl</a></li>
                    <li><a href="../school-20180713.ttl">school-20180713.ttl</a></li>
                  </ul>
                </li>
              </ul>
            </dd>
            <dt>July 1st, 2018</dt>
            <dd>Published a case study paper for Japanese Textbook LOD at <em>The Journal of Information Science and Technology Association</em>.
            <ul>
                    <li>江草由佳, 高久雅生. 教科書Linked Open Data (LOD) の構築と公開. 情報の科学と技術. 2018, Vol.68, No.7, pp.361-367 (in Japanese)</li>
                    <li><a href="https://doi.org/10.18919/jkg.68.7_361">https://doi.org/10.18919/jkg.68.7_361</a></li>
            </ul>
            </dd>
            <dt>March 13th, 2018</dt>
            <dd>Version 6.1 release.
            Added links to multiple holding items in Education Library for a single textbook resource.
            Fixed several bibliographic information.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/10?closed=1">Milestone 6.1</a> on Github.
              <ul>
                <li><a href="../all-20180313.ttl">all-20180313.ttl</a> (Total size: 7.5MB, 157,297 triples)
                  <ul>
                    <li><a href="../textbook-20180313.ttl">textbook-20180313.ttl</a></li>
                    <li><a href="../textbook-rc-20171222.ttl">textbook-rc-20171222.ttl</a></li>
                    <li><a href="../curriculum-20171005.ttl">curriculum-20171005.ttl</a></li>
                    <li><a href="../subject-20171005.ttl">subject-20171005.ttl</a></li>
                    <li><a href="../subjectArea-20171003.ttl">subjectArea-20171003.ttl</a></li>
                    <li><a href="../catalogue-20171009.ttl">catalogue-20171009.ttl</a></li>
                  </ul>
                </li>
              </ul>
            <dt>December 3rd, 2017</dt>
            <dd>Version 6.0 release.
            Added bibliographic information for textbooks held in <a href="http://www.textbook-rc.or.jp/library/">Textbook Research Center Library</a>, and links to their OPAC.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/9?closed=1">Milestone 6.0</a> on Github.
              <ul>
                <li><a href="../all-20171203.ttl">all-20171203.ttl</a> (Total size: 7.5MB, 157,045 triples)
                  <ul>
                    <li><a href="../textbook-20171130.ttl">textbook-20171130.ttl</a></li>
                    <li><a href="../textbook-rc-20171202.ttl">textbook-rc-20171202.ttl</a></li>
                    <li><a href="../curriculum-20171005.ttl">curriculum-20171005.ttl</a></li>
                    <li><a href="../subject-20171005.ttl">subject-20171005.ttl</a></li>
                    <li><a href="../subjectArea-20171003.ttl">subjectArea-20171003.ttl</a></li>
                    <li><a href="../catalogue-20171009.ttl">catalogue-20171009.ttl</a></li>
                  </ul>
                </li>
              </ul>
            <dt>November 30th, 2017</dt>
            <dd>Version 5.2 release.
            Fixed some errors on bibliographic information and descriptions on the web site.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/8?closed=1">Milestone 5.2</a> on Github.
              <ul>
                <li><a href="../all-20171130.ttl">all-20171130.ttl</a> (Total size: 6.9MB, 141,150 triples)
                  <ul>
                    <li><a href="../textbook-20171130.ttl">textbook-20171130.ttl</a></li>
                    <li><a href="../curriculum-20171005.ttl">curriculum-20171005.ttl</a></li>
                    <li><a href="../subject-20171005.ttl">subject-20171005.ttl</a></li>
                    <li><a href="../subjectArea-20171003.ttl">subjectArea-20171003.ttl</a></li>
                    <li><a href="../catalogue-20171009.ttl">catalogue-20171009.ttl</a></li>
                  </ul>
                </li>
              </ul>
            </dd>
            <dt>October 9th, 2017</dt>
            <dd>Version 5.1 release.
            Added English names and Hiragana transcriptions for subjects, subject areas, and curriculum guidelines.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/7?closed=1">Milestone 5.1</a> on Github.
              <ul>
                <li><a href="../all-20171009.ttl">all-20171009.ttl</a> (Total size: 6.9MB, 141,098 triples)
                  <ul>
                    <li><a href="../textbook-20171003.ttl">textbook-20171003.ttl</a></li>
                    <li><a href="../curriculum-20171005.ttl">curriculum-20171005.ttl</a></li>
                    <li><a href="../subject-20171005.ttl">subject-20171005.ttl</a></li>
                    <li><a href="../subjectArea-20171003.ttl">subjectArea-20171003.ttl</a></li>
                    <li><a href="../catalogue-20171009.ttl">catalogue-20171009.ttl</a></li>
                  </ul>
                </li>
              </ul>
            </dd>
            <dt>2017年10月3日</dt>
            <dd>Version 5.0 release.
            Added information on textbooks used in AY2017.
            Added properties on the number of pages and extent etc.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/6?closed=1">Milestone 5.0</a> on Github.
              <ul>
                <li><a href="../all-20171003.ttl">all-20171003.ttl</a> (Total size: 6.8MB, 139,839 triples)
                  <ul>
                    <li><a href="../textbook-20171003.ttl">textbook-20171003.ttl</a></li>
                    <li><a href="../curriculum-20170606.ttl">curriculum-20170606.ttl</a></li>
                    <li><a href="../subject-20170611.ttl">subject-20170611.ttl</a></li>
                    <li><a href="../subjectArea-20171003.ttl">subjectArea-20171003.ttl</a></li>
                    <li><a href="../catalogue-20171003.ttl">catalogue-20171003.ttl</a></li>
                  </ul>
                </li>
              </ul>
            </dd>
            <dt>September 2nd, 2017</dt>
            <dd>
            Presentation on this project at the Code4Lib JAPAN Conference 2017.
            <ul>
              <li>江草由佳, 高久雅生. お手軽、お安く、持続可能な書誌情報公開（LOD化）の秘訣 ―教科書LODの経験から―. Code4Lib JAPANカンファレンス2017, 熊本 (2017-09)</li>
              <li>スライド: <a href="https://www.slideshare.net/yegusa/20170903-c4ljplod">https://www.slideshare.net/yegusa/20170903-c4ljplod</a>
            </ul>
            </dd>
            <dt>July 7th, 2017</dt>
            <dd>Version 4.1 release.
            Added web pages for each subject, and replaced the list pages of textbooks with them.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/5?closed=1">Milestone 4.1</a> on Github.
              <ul>
                <li><a href="../all-20170707.ttl">all-20170707.ttl</a> (Total size: 6.3MB, 120,248 triples)
                  <ul>
                    <li><a href="../textbook-20170707.ttl">textbook-20170707.ttl</a></li>
                    <li><a href="../curriculum-20170606.ttl">curriculum-20170606.ttl</a></li>
                    <li><a href="../subject-20170611.ttl">subject-20170611.ttl</a></li>
                    <li><a href="../subjectArea-20170611.ttl">subjectArea-20170611.ttl</a></li>
                    <li><a href="../catalogue-20170611.ttl">catalogue-20170611.ttl</a></li>
                  </ul>
                </li>
              </ul>
            </dd>
            <dt>June 11th, 2017</dt>
            <dd>Version 4.0 release.
            Added URI resources for textbook catalogs.
            Automated the generation of the top page of this project from the dataset.
            Fixed some errors in the dataset.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/3?closed=1">Milestone 3.1</a> and <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/4?closed=1">Milestone 4.0</a> on Github.
              <ul>
                <li><a href="../all-20170611.ttl">all-20170611.ttl</a> (Total size: 6.3MB, 120,437 triples)
                  <ul>
                    <li><a href="../textbook-20170611.ttl">textbook-201700611.ttl</a></li>
                    <li><a href="../curriculum-20170606.ttl">curriculum-20170606.ttl</a></li>
                    <li><a href="../subject-20170611.ttl">subject-20170611.ttl</a></li>
                    <li><a href="../subjectArea-20170611.ttl">subjectArea-20170611.ttl</a></li>
                    <li><a href="../catalogue-20170611.ttl">catalogue-20170611.ttl</a></li>
                  </ul>
                </li>
              </ul>
            <dt>June 6th, 2017</dt>
            <dd>Version 3.0 release.
            Added all the subjectArea URIs, subject URIs, and their property data.
            Fixed some errors in the dataset.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/2?closed=1">Milestone 3.0</a> on Github.
              <ul>
                <li><a href="../all-20170606.ttl">all-20170606.ttl</a> (Total size: 6.1MB, 112,441 triples)
                  <ul>
                    <li><a href="../textbook-20170606.ttl">textbook-20170606.ttl</a></li>
                    <li><a href="../curriculum-20170606.ttl">curriculum-20170606.ttl</a></li>
                    <li><a href="../subject-20170606.ttl">subject-20170606.ttl</a></li>
                    <li><a href="../subjectArea-20170606.ttl">subjectArea-20170606.ttl</a></li>
                  </ul>
                </li>
              </ul>
            </dd>
            <dt>May 3rd, 2017</dt>
            <dd>Version 2.0 release.
            Changed some resource URIs and properties.
            Fixed some errors in the dataset.
            Details of changes are listed at <a href="https://github.com/jp-textbook/jp-textbook.github.io/milestone/1?closed=1">Milestone 2.0</a> on Github.
              <ul>
                <li><a href="../textbook-20170503.ttl">textbook-20170503.ttl</a></li>
                <li><a href="../curriculum-20170503.ttl">curriculum-20170503.ttl</a></li>
              </ul>
            </dd>
            <dt>March 11th, 2017</dt>
            <dd>This dataset won the Education LOD Award at the Linked Open Data Challenge 2016.
              <ul>
                <li><a href="http://lodc.jp/2015/concrete5/blog/2017-02-17">[Press release] Linked Open Data チャレンジ Japan 2016 受賞作品発表</a></li>
                <li><a href="https://www.slideshare.net/tmasao/20170311-lod-challenge2016-textbook">Presentation slides</a></li>
              </ul>
            </dd>
            <dt>January 15th, 2017</dt>
            <dd>The first dataset release.
              <ul>
                <li><a href="../textbook-20170115.ttl">textbook-20170115.ttl</a></li>
                <li><a href="../curriculum-20170115.ttl">curriculum-20170115.ttl</a></li>
              </ul>
            </dd>
            <dd>Applied to <a href="http://idea.linkdata.org/idea/idea1s2213i">Dataset section of LOD Challenge 2016</a></dd>
          </dl>

          <h2>Contact</h2>
          <p>
          This dataset has been developed by the following members:
          </p>
          <ul>
            <li><a href="https://www.nier.go.jp/yuka/">Yuka Egusa</a>, National Institute of Educational Policy Research</li>
            <li><a href="http://masao.jpn.org/">Masao Takaku</a>, University of Tsukuba</li>
          </ul>
          <p>If you have any inquiry on the dataset, please send email to Dr. Egusa at yuka@nier.go.jp</p>
        </div>
        <div class="col-md-2">
          <div class="toc" data-spy="affix" data-offset-top="350" data-offset-bottom="200">
            <h2 data-toc-skip>Contents</h2>
            <nav id="toc" data-toggle="toc"></nav>
          </div>
        </div>
      </div>
    </div>
