    <div class="jumbotron">
      <div class="container">
        <h1>教科書LODについて</h1>
        <p>教科書LODプロジェクトでは、初等教育、中等教育で使われている学習指導要領と現行使用教科書の出版情報を Linked Open Data (LOD) として公開します。</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="./"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
          <li class="active">教科書LODについて</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <h2 id="overview">概要</h2>
          <p>
          1992年施行の学習指導要領以降の検定教科書を対象として、書誌事項と教科等の関連情報をLOD化しています。
          2018年12月現在、約7500タイトルの教科書情報を公開しています。
          </p>
          <p>
          データセットの元とした書誌情報等は<a href="http://www.nier.go.jp/library/">国立教育政策研究所教育図書館</a>において作成されたものを利用しています。
          教育図書館サイト内の<a href="https://nierlib.nier.go.jp/?page_id=109">戦後教科書データベース</a>においても検索できます。
          また、ISBNについては、<a href="http://www.textbook-rc.or.jp/library/">教科書研究センター附属教科書図書館</a>において作成されたデータを利用しています。
          </p>
          <p>
          教科書LODの構築と公開の詳細については下記論文・文書等を参照してください。
          </p>
          <ul>
            <li>江草由佳, 高久雅生. 教科書Linked Open Data (LOD) の構築と公開. 情報の科学と技術. 2018, Vol.68, No.7, pp.361-367, <a href="https://doi.org/10.18919/jkg.68.7_361">https://doi.org/10.18919/jkg.68.7_361</a>, <a href="http://hdl.handle.net/2241/00152209">http://hdl.handle.net/2241/00152209</a></li>
            <li><a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit">Poorman’s Linked Data Toolkit / お手軽にLinked Dataを作ろう!</a></li>
            <li>江草由佳, 高久雅生. お手軽、お安く、持続可能な書誌情報公開（LOD化）の秘訣 ―教科書LODの経験から―. Code4Lib JAPANカンファレンス2017, 熊本 (2017-09),  <a href="https://www.slideshare.net/yegusa/20170903-c4ljplod">https://www.slideshare.net/yegusa/20170903-c4ljplod</a></li>
          </ul>

          <h3 id="news">お知らせ</h3>
          <dl>
            <dt>2018年11月8日</dt>
            <dd>LODチャレンジ2018において<a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit">Linked Dataの簡単な作成方法 Poorman's Linked Data Toolkit</a>が「LODプロモーション賞」を受賞しました。
            <ul>
              <li><a href="http://lodc.jp/2015/concrete5/blog/2018-11-08">【プレスリリース】Linked Open Data チャレンジ Japan 2018 受賞作品発表</a>
            </ul>
            <dt>2018年8月28日</dt>
            <dd>教科書LODがLODクラウド（2018-08-28版）に掲載されました。
            <ul>
              <li><a href="https://lod-cloud.net">Linked Open Data Cloud</a></li>
              <li><a href="https://lod-cloud.net/dataset/jp-textbook">データセット情報: jp-textbook</a></li>
            </ul>
            <dt>2018年8月14日</dt>
            <dd><a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit">Linked Dataの簡単な作成方法 Poorman's Linked Data Toolkit の紹介文書</a>を公開しました。
            <dt>2018年7月1日</dt>
            <dd>情報の科学と技術に教科書LODの事例報告を発表しました。
                <ul>
                    <li>江草由佳, 高久雅生. 教科書Linked Open Data (LOD) の構築と公開. 情報の科学と技術. 2018, Vol.68, No.7, pp.361-367</li>
                    <li><a href="https://doi.org/10.18919/jkg.68.7_361">https://doi.org/10.18919/jkg.68.7_361</a></li>
                </ul>
            </dd>
            <dt>2017年9月2日</dt>
            <dd>
            Code4Lib JAPANカンファレンス2017において、教科書LODについての発表を行いました。
            <ul>
              <li>江草由佳, 高久雅生. お手軽、お安く、持続可能な書誌情報公開（LOD化）の秘訣 ―教科書LODの経験から―. Code4Lib JAPANカンファレンス2017, 熊本 (2017-09)</li>
              <li>スライド: <a href="https://www.slideshare.net/yegusa/20170903-c4ljplod">https://www.slideshare.net/yegusa/20170903-c4ljplod</a>
            </ul>
            </dd>
            <dt>2017年3月11日</dt>
            <dd>LODチャレンジ2016において「教科書LOD」がテーマ賞「教育LOD賞」を受賞しました。
              <ul>
                <li><a href="http://lodc.jp/2015/concrete5/blog/2017-02-17">【プレスリリース】Linked Open Data チャレンジ Japan 2016 受賞作品発表</a></li>
                <li><a href="https://www.slideshare.net/tmasao/20170311-lod-challenge2016-textbook">受賞作品紹介スライド</a></li>
              </ul>
            </dd>
            <dt>2017年1月15日</dt>
            <dd><a href="http://idea.linkdata.org/idea/idea1s2213i">LODチャレンジ2016 データセット部門に応募</a></dd>
          </dl>

          <h2 id="lod-model">LOD語彙</h2>
          <p>
          教科書LODの主なリソースのモデル概要を下図に示します。
          なお、教科書LODモデルのベースURIは https://w3id.org/jp-textbook/ で、下図では <code>textbook:</code> のプレフィックスで表示しています。
          </p>
          <p><img class="img-responsive img-rounded" src="lod-model.png" alt="教科書LODのモデル"></p>
          <h3 id="textbook-resource">教科書をあらわすリソース</h3>
          <h4>教科書をあらわすリソースのURI※</h4>
          <p>
          教科書をあらわすリソースは以下のようなURIにより表現されます。
          <br>
          <code>https://w3id.org/jp-textbook/<var>学校種別</var>/<var>検定年</var>/<var>教科書記号</var>/<var>教科書番号</var></code>
          </p>
          <p>
          または、プレフィックスを用いて表現すると以下のようになります。
          <br>
          <code>textbook:<var>学校種別</var>/<var>検定年</var>/<var>教科書記号</var>/<var>教科書番号</var></code>
          </p>
          <p>
          ※教科書を表すリソースのURIにアクセスすると、HTML形式で教科書についての基本的な情報を返します。URIの後ろに.ttlをつけてアクセスするとTurtle形式でRDFデータを返します。
          </p>
          <h4>教科書リソースが持つプロパティ</h4>
          <p>教科書リソースが持つプロパティを下表に示します</p>
          <%= param["TextbookShape"] -%>
          <h3 id="curriculum-resource">学習指導要領をあらわすリソース</h3>
          <h4>学習指導要領をあらわすリソースのURI</h4>
          <p>
          学習指導要領をあらわすリソースは以下のようなURIにより表現されます。
          <br>
          <code>https://w3id.org/jp-textbook/curriculum/<var>学校種別</var>/<var>学習指導要領施行年</var></code>
          </p>
          <p>
          または、プレフィックスを用いて表現すると以下のようになります。
          <br>
          <code>textbook:curriculum/<var>学校種別</var>/<var>学習指導要領施行年</var></code>
          </p>
          <h4>学習指導要領リソースが持つプロパティ</h4>
          <p>学習指導要領リソースが持つプロパティを下表に示します</p>
          <%= param["CurriculumGuidelineShape"] -%>
          <h3 id="subject-area-resource">教科をあらわすリソース</h3>
          <h4>教科をあらわすリソースのURI</h4>
          <p>
          教科をあらわすリソースは以下のようなURIにより表現されます。
          <br>
          <code>https://w3id.org/jp-textbook/curriculum/<var>学校種別</var>/<var>学習指導要領施行年</var>/<var>教科名</var></code>
          </p>
          <p>
          または、プレフィックスを用いて表現すると以下のようになります。
          <br>
          <code>textbook:curriculum/<var>学校種別</var>/<var>学習指導要領施行年</var>/<var>教科名</var></code>
          </p>
          <h4>教科リソースが持つプロパティ</h4>
          <p>教科リソースが持つプロパティを下表に示します</p>
          <%= param["curriculum/SubjectAreaShape"] -%>
                    （* 教科リソースは、掲載されている学習指導要領から <code>textbook:hasSubjectArea</code> でつながっています）
          <h3 id="subject-resource">種目をあらわすリソース</h3>
          種目は、教科書作成者が、検定時に申請する教科書の種目をさしています。これは、学習指導要領における科目とほぼ同一のものをさしますが、厳密には科目とは異なるものをさすこととなります。たとえば、地図、書写などの科目としては存在しないものが含まれ、保健体育のように複数の科目に対応する種目が追加されるなどしています。
          <h4>種目をあらわすリソースのURI</h4>
          <p>
          種目をあらわすリソースは以下のようなURIにより表現されます。
          <br>
          <code>https://w3id.org/jp-textbook/curriculum/<var>学校種別</var>/<var>学習指導要領施行年</var>/<var>教科名</var>/<var>種目名</var></code>
          </p>
          <p>
          または、プレフィックスを用いて表現すると以下のようになります。
          <br>
          <code>textbook:curriculum/<var>学校種別</var>/<var>学習指導要領施行年</var>/<var>教科名</var>/<var>種目名</var></code>
          </p>
          <h4>種目リソースが持つプロパティ</h4>
          <p>種目リソースが持つプロパティを下表に示します</p>
          <%= param["curriculum/SubjectShape"] -%>
          （* 種目リソースは、教科から<code>textbook:hasSubject</code> でつながっています）
          <h3 id="catalogue-resource">教科書目録をあらわすリソース</h3>
          <p>
          文部科学省が毎年発行している、当該年度に利用できる教科書のリストです。
          </p>
          <p>
          最近のものは以下のページから一覧されています: <a href="http://www.mext.go.jp/a_menu/shotou/kyoukasho/mokuroku.htm">http://www.mext.go.jp/a_menu/shotou/kyoukasho/mokuroku.htm</a>
          </p>
          <h4>教科書目録をあらわすリソースのURI</h4>
          <p>
          教科書目録をあらわすリソースは以下のようなURIにより表現されます。
          <br>
          <code>https://w3id.org/jp-textbook/catalogue/<var>学校種別</var>/<var>発行年</var></code>
          </p>
          <p>
          または、プレフィックスを用いて表現すると以下のようになります。
          <br>
          <code>textbook:catalogue/<var>学校種別</var>/<var>発行年</var></code>
          </p>
          <h4>教科書目録リソースが持つプロパティ</h4>
          <p>教科書目録リソースが持つプロパティを下表に示します</p>
          <%= param["CatalogueShape"] -%>
          <h3 id="publisher-resource">発行者をあらわすリソース</h3>
          <p>
          発行者を示すリソースです。
          </p>
          <h4>発行者をあらわすリソースのURI</h4>
          <p>
          発行者をあらわすリソースは以下のようなURIにより表現されます。
          <br>
          <code>https://w3id.org/jp-textbook/publisher/<var>掲載教科書目録の発行年</var>/<var>発行者略称</var></code>
          </p>
          <p>
          または、プレフィックスを用いて表現すると以下のようになります。
          <br>
          <code>textbook:publisher/<var>掲載教科書目録の発行年</var>/<var>発行者略称</var></code>
          </p>
          <h4>発行者リソースが持つプロパティ</h4>
          <p>発行者リソースが持つプロパティを下表に示します</p>
          <%= param["PublisherShape"] %>
          <h3 id="school-resource">学校をあらわすリソース</h3>
          <p>
          小学校、中学校等の学校を示すリソースです。
          </p>
          <h4>学校をあらわすリソースのURI</h4>
          <p>
          学校をあらわすリソースは以下のようなURIにより表現されます。
          <br>
          <code>https://w3id.org/jp-textbook/school/<var>学校</var></code>
          </p>
          <p>
          または、プレフィックスを用いて表現すると以下のようになります。
          <br>
          <code>textbook:school/<var>学校</var></code>
          </p>
          <h4>学校リソースが持つプロパティ</h4>
          <p>学校リソースが持つプロパティを下表に示します</p>
          <%= param["SchoolShape"] %>
          <h3 id="subjecttype-resource">教科・種目種別をあらわすリソース</h3>
          <p>
          教科・種目種別を示すリソースです。
          </p>
          <h4>教科・種目種別をあらわすリソースのURI</h4>
          <p>
          教科・種目種別をあらわすリソースは以下のようなURIにより表現されます。
          <br>
           <code>https://w3id.org/jp-textbook/curriculum/<var>学校種別</var>/<var>学習指導要領施行年</var>/<var>種別</var></code>
          </p>
          <p>
          または、プレフィックスを用いて表現すると以下のようになります。
          <br>
          <code>textbook:school/<var>学校種別</var>/<var>学習指導要領施行年</var>/<var>種別</var></code>
          </p>
          <p>種別は<var>Common</var>と<var>Special</var>があります。</p>
          <h4>教科・種目種別リソースが持つプロパティ</h4>
          <p>教科・種目種別リソースが持つプロパティを下表に示します</p>
          <%= param["SubjectTypeShape"] %>
            <h3 id="original-vocabulary">独自語彙のスキーマ</h3>
              <h4 id="original-class">独自クラス</h4>
                <ul>
                  <%- param[:original_classes].each do |klass| -%>
                  <li><a href="<%=h klass %>"><%=h klass %></a></li>
                  <%- end -%>
                </ul>
              <h4 id="original-property">独自プロパティ</h4>
                <ul>
                  <%- param[:original_properties].each do |property| -%>
                  <li><a href="<%=h property %>"><%=h property %></a></li>
                  <%- end -%>
                </ul>
          <h2 id="history">更新履歴</h2>
          <!-- 更新履歴は template/about.html.erb を修正すること! -->
          <dl>
            <%- param[:versions].each do |version| -%>
              <%- date = Date.parse(version[:date]) -%>
              <dt><%=h date.year %>年<%=h date.month %>月<%=h date.day %>日</dt>
              <dd>バージョン<%=h version[:version] %>を公開。
              <%= version[:comment_ja] %>
              <%- if version[:revision_url] -%>
              更新内容の詳細はGithubの<a href="<%=h version[:revision_url].first %>">マイルストーン<%= version[:version] %></a>をご覧ください。
              <%- end -%>
              <ul>
                <%- if version[:dataDump] -%>
                <li><a href="<%=h relative_path_uri(version[:dataDump]) %>"><%=h relative_path_uri(version[:dataDump]) %></a> （全データ: <%=h "%.01f" % ( version[:byteSize].to_i / (1024*1024).to_f ) %>MB, <%=h version[:triples].to_i.to_s(:delimited) %>トリプル）
                <%- end -%>
                <ul>
                  <%- version[:subset].each do |subset| -%>
                  <li><a href="<%=h relative_path_uri(subset) %>"><%=h relative_path_uri(subset) %></a></li>
                  <%- end -%>
                </ul>
              </ul>
            <%- end -%>
          </dl>

          <h2 id="contact">連絡先</h2>
          <p>
          本データセットは以下のメンバーが開発したものです：
          </p>
          <ul>
            <li><a href="https://www.nier.go.jp/yuka/">江草由佳</a>（国立教育政策研究所）</li>
            <li><a href="http://masao.jpn.org/">高久雅生</a>（筑波大学）</li>
          </ul>
          <p>データセットに関する問い合わせは、江草 (yuka@nier.go.jp) までメールで問い合わせください。</p>
        </div>
        <div class="col-md-2">
          <div class="toc" data-spy="affix" data-offset-top="350" data-offset-bottom="200">
            <h2 data-toc-skip>目次</h2>
          <nav id="toc" data-toggle="toc"></nav>
          </div>
        </div>
      </div>
    </div>
