    <div class="jumbotron">
      <div class="container">
        <%- if param[:name_yomi] -%>
        <h1><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></h1>
        <%- else -%>
        <h1><%=h param[:name] %></h1>
        <%- end -%>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="<%=h relative_path("./") %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li class="active"><%=h param[:name] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>詳細情報</h2>
          <dl class="dl-horizontal">
            <dt>書名</dt><dd><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></dd>
            <dt>書名（英語表記）</dt><dd><%=h param[:name_en] %></dd>
            <dt>発行年</dt><dd><%=h param[:datePublished] %>年 (<%=h param[:datePublished].to_year_era %>)</dd>
            <dt>使用年度</dt><dd><%=h param[:usageYear] %>年 (<%=h param[:usageYear].to_year_era %>)</dd>
            <dt>学校種別</dt><dd><a href="<%=h relative_path_uri(param[:school]) %>"><%=h param[:school_name] %></a></dd>
          </dl>
        </div>
      </div>
      <%- if param[:textbooks] -%>
      <div class="row">
        <div class="col-md-12">
          <h2>掲載教科書一覧</h2>
          <ul>
            <%- param[:textbooks].each do |textbook| -%>
              <li><a href="<%=h relative_path_uri(textbook[:uri]) %>"><%=h textbook[:name] %> (<%=h textbook[:publishers].first[:name] %>)</a>
              （<%=h textbook[:usageYear] %>）
              </li>
            <%- end -%>
          </ul>
        </div>
      </div>
      <%- end -%>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2>関連リンク</h2>
          <ul>
            <%- if param[:url] -%>
              <%- param[:url].each do |url| -%>
              <li><a href="<%=h url %>">教科書目録（文部科学省サイト）</a></li>
              <%- end -%>
            <%- end -%>
            <%- if param[:seeAlso] -%>
              <%- param[:seeAlso].each do |hash| -%>
                <%- url = hash[:url] -%>
                <%- case hash[:key] -%>
                <%- when :_waybackmachine -%>
                <li><a href="<%=h url %>">教科書目録（ウェブアーカイブ / Internet Archive）</a></li>
                <%- when :_warp -%>
                <li><a href="<%=h url %>">教科書目録（ウェブアーカイブ / NDL WARP）</a></li>
                <%- when :ndl_jpno -%>
                <li><a href="<%=h url %>">国立国会図書館 (JPNO)</a></li>
                <%- when :ncid -%>
                <li><a href="<%=h url %>">CiNii Books (NCID)</a></li>
                <%- else -%>
                <li><a href="<%=h url %>">関連リンク</a></li>
                <%- end -%>
              <%- end -%>
            <%- end -%>
            <li><a href="https://nieropac.nier.go.jp/ebopac/<%=h param[:recordID] %>">国立教育政策研究所 教育図書館 OPAC</a>
                <span class="callNumber" title="請求記号"><%=h param[:callNumber] %></span>
                <span class="itemID" title="資料ID"><%=h param[:itemID] %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
