    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:name_en] %></h1>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="<%=h relative_path("./en/") %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li class="active"><%=h param[:name_en] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Details</h2>
          <dl class="dl-horizontal">
            <dt>Title</dt><dd><%=h param[:name_en] %></dd>
            <dt>Original title</dt><dd><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></dd>
            <dt>Published year</dt><dd><%=h param[:datePublished] %></dd>
            <dt>Usage year</dt><dd><%=h param[:usageYear] %></dd>
            <dt>Type of school</dt><dd><a href="<%=h relative_path_uri(param[:school], :en) %>"><%=h param[:school_name_en] %></a></dd>
          </dl>
        </div>
      </div>
      <%- if param[:textbooks] -%>
      <div class="row">
        <div class="col-md-12">
          <h2>List of textbooks</h2>
          <dl>
            <%- param[:textbooks].keys.sort.each do |guideline| -%>
            <dt>Curriculum Guideline (Since AY<%=h guideline.last_part %>)</dt>
            <dd>
            <ul>
            <%- param[:textbooks][guideline].each do |textbook| -%>
              <li><a href="<%=h relative_path_uri(textbook[:uri]) %>"><%=h textbook[:name] %> (<%=h textbook[:publishers].first[:name] %>)</a>
              (<%=h textbook[:usageYear] %>)
              </li>
            <%- end -%>
            </ul>
            </dd>
          <%- end -%>
          </dl>
        </div>
      </div>
      <%- end -%>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2>Related links</h2>
          <ul>
            <%- if param[:url] -%>
              <%- param[:url].each do |url| -%>
              <li><a href="<%=h url %>">Textbook Catalogues (MEXT website)</a></li>
              <%- end -%>
            <%- end -%>
            <%- if param[:seeAlso] -%>
              <%- param[:seeAlso].each do |hash| -%>
                <%- url = hash[:url] -%>
                <%- case hash[:key] -%>
                <%- when :_waybackmachine -%>
                <li><a href="<%=h url %>">Textbook Catalogues (Web Archive by Internet Archive)</a></li>
                <%- when :_warp -%>
                <li><a href="<%=h url %>">Textbook Catalogues (Web Archive by NDL WARP)</a></li>
                <%- when :ndl_jpno -%>
                <li><a href="<%=h url %>">National Bibliographic Record (JPNO)</a></li>
                <%- when :ncid -%>
                <li><a href="<%=h url %>">CiNii Books (NCID)</a></li>
                <%- else -%>
                <li><a href="<%=h url %>">Related link</a></li>
                <%- end -%>
              <%- end -%>
            <%- end -%>
            <li><a href="https://nieropac.nier.go.jp/lib/database/TEXTBOOK/<%=h param[:recordID] %>/">NIER Education of Library OPAC</a>
                <span class="callNumber" title="Call number"><%=h param[:callNumber] %></span>
                <span class="itemID" title="Record ID"><%=h param[:itemID] %></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
