    <div class="jumbotron">
      <div class="container">
        <%- if param[:name_yomi] -%>
          <h1><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></h1>
        <%- else -%>
          <h1><%=h param[:name] %></h1>
        <%- end -%>
        <p><%=h param[:datePublished] %>年発行, <%=h param[:startDate_str] %>施行</p>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>詳細情報</h2>
          <dl class="dl-horizontal">
            <dt>名称</dt><dd><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></dd>
            <dt>名称（英語表記）</dt><dd><%=h param[:name_en] %></dd>
            <dt>学校種別</dt><dd><a href="<%=h param[:school].sub("https://w3id.org/jp-textbook/", "../../../") %>"><%=h param[:school].last_part %></a></dd>
            <dt>発行年</dt><dd><%=h param[:datePublished] %>年 (<%=h param[:datePublished].to_year_era %>)</dd>
            <dt>施行年</dt><dd><%=h param[:startDate_date].strftime("%Y年%m月%d日").squeez_date %> (<%=h param[:startDate_date].to_era("%O%E年%m月%d日").squeez_date %>)</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>教科一覧</h2>
          <ul>
            <%- param[:subjectArea].each do |area| -%>
              <li><a href="<%=h area[:uri].last_part %>"><%=h area[:name] %></a>
                <%- if area[:subjects].size > 0 -%>
                  <ul class="list-inline subjects">
                    <%- area[:subjects].each do |subject| -%>
                      <li><%=h subject[:name] %></li>
                    <%- end -%>
                  </ul>
                <%- end -%>
              </li>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>

    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>関連リンク</h2>
          <ul>
            <li><a href="<%=h param[:seeAlso] %>">学習指導要領（文部科学省サイト）</a></li>
          </ul>
        </div>
      </div>
    </div>
