<div class="row">
  <div class="col-md-12">
    <h2>現行学習指導要領（2020年度以降）</h2>
    <dl>
      <%- [ "https://w3id.org/jp-textbook/curriculum/小学校/2020",
            "https://w3id.org/jp-textbook/curriculum/中学校/2021",
            "https://w3id.org/jp-textbook/curriculum/高等学校/2022",
          ].each do |uri| -%>
          <%- school = param[:data_global][uri]["https://w3id.org/jp-textbook/school"].first -%>
      <dt><%=h param[:data_global][school]["http://schema.org/name"].find{|e| e.language == :ja } %>
          <small><a href="<%= relative_path_uri(uri, param[:base_uri]) %>">
            <i class="bi bi-book"></i> 学習指導要領
          </a></small>
      <dd><ul class="list-inline">
        <%- param[:data_global][uri]["https://w3id.org/jp-textbook/hasSubjectArea"].sort_by{|e| param[:data_global][e]["http://purl.org/linked-data/cube#order"].first.to_i }.each do |subject_area| -%>
          <%- param[:data_global][subject_area]["https://w3id.org/jp-textbook/hasSubject"]&.each do |subject| -%>
            <%- next if not param[:data_inverse_global].has_key?(subject) -%>
            <%- next if not param[:data_inverse_global][subject].has_key?("https://w3id.org/jp-textbook/subject") -%>
            <li class="list-inline-item"><%= format_object(subject, param[:data_global]) %></li>
          <%- end -%>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>現行学習指導要領（2011年度以降）</h2>
    <dl>
      <%- [ "https://w3id.org/jp-textbook/curriculum/小学校/2011",
            "https://w3id.org/jp-textbook/curriculum/中学校/2012",
            "https://w3id.org/jp-textbook/curriculum/高等学校/2013",
          ].each do |uri| -%>
          <%- school = param[:data_global][uri]["https://w3id.org/jp-textbook/school"].first -%>
      <dt><%=h param[:data_global][school]["http://schema.org/name"].find{|e| e.language == :ja } %>
          <small><a href="<%= relative_path_uri(uri, param[:base_uri]) %>">
            <i class="bi bi-book"></i> 学習指導要領
          </a></small>
      <dd><ul class="list-inline">
        <%- param[:data_global][uri]["https://w3id.org/jp-textbook/hasSubjectArea"].sort_by{|e| param[:data_global][e]["http://purl.org/linked-data/cube#order"].first.to_i }.each do |subject_area| -%>
          <%- param[:data_global][subject_area]["https://w3id.org/jp-textbook/hasSubject"]&.each do |subject| -%>
            <%- next if not param[:data_inverse_global].has_key?(subject) -%>
            <%- next if not param[:data_inverse_global][subject].has_key?("https://w3id.org/jp-textbook/subject") -%>
            <li class="list-inline-item"><%= format_object(subject, param[:data_global]) %></li>
          <%- end -%>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>
  <div class="col-md-4">
    <h2>旧学習指導要領（2002年度以降）</h2>
    <dl>
      <%- [ "https://w3id.org/jp-textbook/curriculum/小学校/2002",
            "https://w3id.org/jp-textbook/curriculum/中学校/2002",
            "https://w3id.org/jp-textbook/curriculum/高等学校/2003",
          ].each do |uri| -%>
          <%- school = param[:data_global][uri]["https://w3id.org/jp-textbook/school"].first -%>
      <dt><%=h param[:data_global][school]["http://schema.org/name"].find{|e| e.language == "ja" } %>
          <small><a href="<%= relative_path_uri(uri, param[:base_uri]) %>">
            <i class="bi bi-book"></i> 学習指導要領
          </a></small>
      <dd><ul class="list-inline">
        <%- param[:data_global][uri]["https://w3id.org/jp-textbook/hasSubjectArea"].sort_by{|e| param[:data_global][e]["http://purl.org/linked-data/cube#order"].first.to_i }.each do |subject_area| -%>
          <%- param[:data_global][subject_area]["https://w3id.org/jp-textbook/hasSubject"]&.each do |subject| -%>
            <%- next if not param[:data_inverse_global].has_key?(subject) -%>
            <%- next if not param[:data_inverse_global][subject].has_key?("https://w3id.org/jp-textbook/subject") -%>
            <li class="list-inline-item"><%= format_object(subject, param[:data_global]) %></li>
          <%- end -%>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>
  <div class="col-md-4">
    <h2>旧学習指導要領（1992年度以降）</h2>
    <dl>
      <%- [ "https://w3id.org/jp-textbook/curriculum/小学校/1992",
            "https://w3id.org/jp-textbook/curriculum/中学校/1993",
            "https://w3id.org/jp-textbook/curriculum/高等学校/1994",
          ].each do |uri| -%>
          <%- school = param[:data_global][uri]["https://w3id.org/jp-textbook/school"].first -%>
      <dt><%=h param[:data_global][school]["http://schema.org/name"].find{|e| e.language == "ja" } %>
          <small><a href="<%= relative_path_uri(uri, param[:base_uri]) %>">
            <i class="bi bi-book"></i> 学習指導要領
          </a></small>
      <dd><ul class="list-inline">
        <%- param[:data_global][uri]["https://w3id.org/jp-textbook/hasSubjectArea"].sort_by{|e| param[:data_global][e]["http://purl.org/linked-data/cube#order"].first.to_i }.each do |subject_area| -%>
          <%- param[:data_global][subject_area]["https://w3id.org/jp-textbook/hasSubject"]&.each do |subject| -%>
            <%- next if not param[:data_inverse_global].has_key?(subject) -%>
            <%- next if not param[:data_inverse_global][subject].has_key?("https://w3id.org/jp-textbook/subject") -%>
            <li class="list-inline-item"><%= format_object(subject, param[:data_global]) %></li>
          <%- end -%>
        <%- end -%>
      </ul></dd>
      <%- end -%>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>教科書目録</h2>
    <p>以下のリンクは掲載教科書の使用年度を示しています。</p>
    <dl>
      <%- %w( 小学校 中学校 高等学校 ).each do |school| -%>
      <dt><%=h school %></dt>
      <dd>
      <ul class="list-inline">
        <%- param[:data_global].keys.select{|e|
              param[:data_global][e][RDF.type.to_s]&.include?("https://w3id.org/jp-textbook/Catalogue") and param[:data_global][e]["https://w3id.org/jp-textbook/school"].first == "https://w3id.org/jp-textbook/school/#{school}"
            }.sort.reverse.each do |catalogue| -%>
        <li class="list-inline-item"><a href="<%=h relative_path_uri(catalogue, param[:base_uri]) %>"><%=h catalogue.split(/\//).last.to_i + 1 %></a></li>
        <%- end -%>
      </ul>
      </dd>
      <%- end -%>
    </dl>
  </div>
</div>
