    <div class="jumbotron">
      <div class="container">
        <h1>教科書LOD</h1>
        <p>教科書LODプロジェクトでは、初等教育、中等教育で使われている学習指導要領と現行使用教科書の出版情報を Linked Open Data (LOD) として公開します。</p>
        <p><a class="btn btn-primary" href="about.html">教科書LODについて &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>現行学習指導要領（2011年度以降）</h2>
          <dl>
            <dt>小学校
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/小学校/2011"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
              </ul></dd>
            <dt>中学校</dt>
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/中学校/2012"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
            </ul></dd>
            <dt>高等学校</dt>
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/高等学校/2013"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
            </ul></dd>
          </dl>
        </div>
        <div class="col-md-4">
          <h2>旧学習指導要領（2002年度以降）</h2>
          <dl>
            <dt>小学校</dt>
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/小学校/2002"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
            </ul></dd>
            <dt>中学校</dt>
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/中学校/2002"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
            </ul></dd>
            <dt>高等学校</dt>
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/高等学校/2003"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
            </ul></dd>
          </dl>
        </div>
        <div class="col-md-4">
          <h2>旧学習指導要領（1992年度以降）</h2>
          <dl>
            <dt>小学校</dt>
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/小学校/1992"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
            </ul></dd>
            <dt>中学校</dt>
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/中学校/1993"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
            </ul></dd>
            <dt>高等学校</dt>
            <dd><ul class="list-inline">
              <%- param["https://w3id.org/jp-textbook/curriculum/高等学校/1994"].each do |name| -%>
                <li><a href="<%=h name.sub("https://w3id.org/jp-textbook/", "./") %>"><%=h name.last_part %></a></li>
              <%- end -%>
            </ul></dd>
          </dl>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2>LODデータセット <small><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></small></h2>
          <p>本データセットの最新版をTurtle形式のファイルとしてダウンロードできます。</p>
          <ul><%= param[:download] %></ul>
          <p><a href="about.html#history">&raquo;過去の更新履歴の一覧</a></p>
          <p><a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/deed.ja"><img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0"></a> 本データセットは <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/deed.ja">パブリックドメイン (CC0)</a> として自由に利用できます。</p>
        </div>
      </div>
    </div>
