    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:label_en] %></h1>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li class="active"><%=h param[:label_en] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Details</h2>
          <dl class="dl-horizontal">
            <%- if param[:sameAs] -%>
            <dt>The same property</dt><dd><a href="<%=h param[:sameAs] %>"><%=h param[:sameAs] %></a></dd>
            <%- end -%>
            <%- if param[:subPropertyOf] -%>
            <dt>Upper property</dt>
            <%- param[:subPropertyOf].each do |property| -%>
            <dd><a href="<%=h property %>"><%=h property %></a></dd>
            <%- end -%>
            <%- end -%>
            <dt>Label</dt><dd><%=h param[:label_en] %></dd>
            <dt>Label in Japanese</dt><dd><%=h param[:label] %></dd>
            <dt>Description</dt><dd><%=h param[:comment] %></dd>
            <dt>Class type of the subject</dt>
            <%- param[:domain].each do |domain| -%>
            <dd><a href="<%=h domain %>"><%=h domain %></a></dd>
            <%- end -%>
            <%- if param[:range] -%>
            <dt>Class type of the object</dt>
            <%- param[:range].each do |range| -%>
            <dd><a href="<%=h range %>"><%=h range %></a></dd>
            <%- end -%>
            <%- end -%>
          </dl>
        </div>
      </div>
      <%- if param[:seeAlso] -%>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2>Related link</h2>
          <ul>
            <%- param[:seeAlso].each do |url| -%>
            <li><a href="<%=h url %>"><%=h url %></a></li>
            <%- end -%>
          </ul>
        </div>
      </div>
      <%- end -%>
    </div>
