<table class="table table-condensed">
  <tr>
    <th>プロパティ名</th><th>説明</th><th>プロパティ値の例</th><th>必須・省略の別<br>繰り返しの有無</th><th>備考</th>
  </tr>
  <tbody>
  <%- param[:properties].each do |property| -%>
    <tr>
      <%- if property[:nodeKind] == "http://www.w3.org/ns/shacl#BlankNode" -%>
      <td rowspan="2"><code><%=h property[:shorten_path] %></code></td>
      <%- else -%>
      <td><code><%=h property[:shorten_path] %></code></td>
      <%- end -%>
      <td><%= property[:name_ja] %></td>
      <%- if property[:nodeKind] == "http://www.w3.org/ns/shacl#IRI" -%>
      <td class="url"><%= property[:example] %></td>
      <%- else -%>
      <td><%= property[:example] %></td>
      <%- end -%>
      <td>
        <div>
        <%- if property[:required] -%>
          <strong>必須</strong>
        <%- else -%>
          省略可能
        <%- end -%>
        </div>
        <div>
        <%- if property[:repeatable] -%>
          繰り返し有り
        <%- else -%>
          繰り返し無し
        <%- end -%>
        </div>
      </td>
      <td><%= property[:description_ja] %></td>
    </tr>
    <%- if property[:nodeKind] == "http://www.w3.org/ns/shacl#BlankNode" -%>
    <tr>
      <td colspan="4">
        <%- if property[:node_mode] == :or -%>
        ブランクノードの内容は以下のいずれかの内容からなる構造を持ちます。
        <%- property[:nodes].each do |e| -%>
          <div class="blank_node"><%= e.sub(/class="table"/, 'class="table table-condensed"') %></div>
        <%- end -%>
        <%- else -%>
        ブランクノードの内容は以下の構造を持ちます。
        <div class="blank_node"><%= property[:nodes].sub(/class="table"/, 'class="table table-condensed"') %></div>
        <%- end -%>
      </td>
    </tr>
    <%- end -%>
  <%- end -%>
  </tbody>
</table>

