    <div class="jumbotron">
      <div class="container">
        <h1><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></h1>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="<%=h relative_path_uri(param[:curriculum]) %>"><%=h param[:curriculum_name] %> (<%=h param[:curriculum].last_part %>年度以降)</a></li>
            <li class="active"><%=h param[:name] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>詳細情報</h2>
          <dl class="dl-horizontal">
            <dt>種別名称</dt><dd><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></dd>
            <dt>出典</dt><dd><%=h param[:citation] %></dd>
            <dt>学習指導要領</dt><dd><a href="<%=h relative_path_uri(param[:curriculum]) %>"><%=h param[:curriculum_name] %></a></dd>
            <dt>学校種別</dt><dd><a href="<%=h relative_path_uri(param[:school]) %>"><%=h param[:school_name] %></a></dd>
          </dl>
        </div>
      </div>
    </div>
