    <div class="jumbotron">
      <div class="container">
        <h1>
          <%- if param[:subject_name_yomi] -%>
          <ruby><%=h param[:subject_name] %><rt><%=h param[:subject_name_yomi] %></rt></ruby>
          <%- else -%>
          <%=h param[:subject_name] %>
          <%- end -%>
        </h1>
        <p><%=h param[:startDate_str] %>年度施行 <%=h param[:school_name] %> 学習指導要領</p>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="../../<%=h param[:curriculum].last_part %>"><%=h param[:school_name] %> 学習指導要領 (<%=h param[:curriculum].last_part %>年度以降)</a></li>
            <li><a href="../<%=h param[:subjectArea_name] %>"><%=h param[:subjectArea_name] %></a></li>
            <li class="active"><%=h param[:subject_name ] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>詳細情報</h2>
          <dl class="dl-horizontal">
            <dt>種目名</dt><dd><ruby><%=h param[:subject_name] %><rt><%=h param[:subject_name_yomi] %></rt></ruby></dd>
            <dt>種目名（英語表記）</dt><dd><%=h param[:subject_name_en] %></dd>
            <%- if param[:source_of_english_name] -%>
            <dd><ul><li><small>英語表記出典: <a href="<%=h param[:source_of_english_name][:seeAlso] %>"><%=h param[:source_of_english_name][:name] %></a></small></li></ul></dd>
            <%- end -%>
            <dt>学校種別</dt><dd><a href="<%=h relative_path_uri(param[:school]) %>"><%=h param[:school_name] %></a></dd>
            <dt>学習指導要領</dt><dd><a href="../../<%=h param[:curriculum].last_part %>"><%=h param[:curriculum].last_part %> (<%=h param[:curriculum].last_part.to_year_era %>)</a></dd>
            <dt>教科</dt><dd><a href="../<%=h param[:subjectArea_name] %>"><%=h param[:subjectArea_name] %></a></dd>
            <%- if param[:seeAlso] -%>
            <dt>出典</dt><dd><a href="<%=h param[:seeAlso].first %>"><%=h param[:citation] %></a></dd>
            <%- else -%>
            <dt>出典</dt><dd><%=h param[:citation] %></dd>
            <%- end -%>
            <%- if param[:subjectType] -%>
            <%- param[:subjectType].each do |type| -%>
            <dt>種目種別</dt><dd><a href="<%=h relative_path_uri(type[:uri]) %>"><%=h type[:name] %></a></dd>
            <%- end -%>
            <%- end -%>
            <dt>検定申請受理種目掲載順</dt><dd><%=h param[:order] %></dd>
          </dl>
        </div>
      </div>
      <%- if param[:textbooks] and not param[:textbooks].empty? -%>
      <div class="row">
        <div class="col-md-12">
          <h2>教科書一覧</h2>
          <ul>
            <%- param[:textbooks].each do |textbook| -%>
              <li><a href="<%=h relative_path_uri(textbook[:uri]) %>"><%=h textbook[:name] %><% if not textbook[:publishers].empty? %> (<%=h textbook[:publishers].first[:name] %>)<% end %></a>
              （<%=h textbook[:usageYearRange] %>）
              </li>
            <%- end -%>
          </ul>
        </div>
      </div>
      <%- end -%>
    </div>
