    <div class="jumbotron">
      <div class="container">
        <h1>
          <%=h param[:subject_name_en] %>
        </h1>
        <p>Curriculum Guidelines for <%=h param[:school_name_en] %> (since AY<%=h param[:startDate_str] %>)</p>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="../../<%=h param[:curriculum].last_part %>">Curriculum Guidelines for <%=h param[:school_name_en] %> (since AY<%=h param[:curriculum].last_part %>)</a></li>
            <li><a href="../<%=h param[:subjectArea_name] %>"><%=h param[:subjectArea_name_en] %></a></li>
            <li class="active"><%=h param[:subject_name_en] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Details</h2>
          <dl class="dl-horizontal">
            <dt>Subject name</dt><dd><%=h param[:subject_name_en] %></dd>
            <%- if param[:source_of_english_name] -%>
            <dd><ul><li><small>Source of English name: <a href="<%=h param[:source_of_english_name][:seeAlso] %>"><%=h param[:source_of_english_name][:name_en] %></a></small></li></ul></dd>
            <%- end -%>
            <dt>Name in Japanese</dt><dd><ruby><%=h param[:subject_name] %><rt><%=h param[:subject_name_yomi] %></rt></ruby></dd>
            <dt>Type of school</dt><dd><a href="<%=h relative_path_uri(param[:school], :en) %>"><%=h param[:school_name_en] %></a></dd>
            <dt>Curriculum guidelines</dt><dd><a href="../../<%=h param[:curriculum].last_part %>"><%=h param[:curriculum].last_part %></a></dd>
            <dt>Subject area</dt><dd><a href="../<%=h param[:subjectArea_name] %>"><%=h param[:subjectArea_name_en] %></a></dd>
            <%- if param[:seeAlso] -%>
            <dt>References</dt><dd><a href="<%=h param[:seeAlso].first %>"><%=h param[:citation] %></a></dd>
            <%- else -%>
            <dt>References</dt><dd><%=h param[:citation] %></dd>
            <%- end -%>
            <%- if param[:subjectType] -%>
            <%- param[:subjectType].each do |type| -%>
            <dt>Type of subject</dt><dd><a href="<%=h relative_path_uri(type[:uri], :en) %>"><%=h type[:name] %></a></dd>
            <%- end -%>
            <%- end -%>
            <dt>Sort order of subjects</dt><dd><%=h param[:order] %></dd>
          </dl>
        </div>
      </div>
      <%- if param[:textbooks] and not param[:textbooks].empty? -%>
      <div class="row">
        <div class="col-md-12">
          <h2>List of textbooks</h2>
          <ul>
            <%- param[:textbooks].each do |textbook| -%>
              <li><a href="<%=h relative_path_uri(textbook[:uri], :en) %>"><%=h textbook[:name] %> (<%=h textbook[:publishers].first[:name] %>)</a>
              (<%=h textbook[:usageYear] %>)
              </li>
            <%- end -%>
          </ul>
        </div>
      </div>
      <%- end -%>
    </div>
