    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:name] %></h1>
        <p><%=h param[:school].last_part %> 学習指導要領 (<%=h param[:curriculum].last_part %>年度以降)</p>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="../"><%=h param[:school].last_part %> 学習指導要領 (<%=h param[:curriculum].last_part %>年度以降)</a></li>
            <li class="active"><%=h param[:name] %></li>
          </ol>
        </div>
      </div>
      <%- if not param[:subjects].empty? -%>
      <div class="row">
        <div class="col-md-12">
          <h2>種目一覧</h2>
          <ul>
            <%- param[:subjects].each do |subject| -%>
              <li><a href="<%=h subject %>"><%=h subject.last_part %></a>
            <%- end -%>
          </ul>
        </div>
      </div>
      <%- end -%>
      <%- if param[:textbooks] -%>
      <div class="row">
        <div class="col-md-12">
          <h2>教科書一覧</h2>
            <ul>
              <%- param[:textbooks].each do |textbook| -%>
                <li><a href="<%=h textbook[:uri].to_s.sub("https://w3id.org/jp-textbook/", "../../../../") %>"><%=h textbook[:name] %> (<%=h textbook[:publisher] %>)</a></li>
              <%- end -%>
            </ul>
          </div>
        </div>
      <%- end -%>
    </div>
