    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:name_en] %></h1>
        <p>Curriculum Guidelines for <%=h param[:school_name_en] %> (since AY<%=h param[:curriculum].last_part %>)</p>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="../../<%=h param[:curriculum].last_part %>">Curriculum Guidelines for <%=h param[:school_name_en] %> (since AY<%=h param[:curriculum].last_part %>)</a></li>
            <li class="active"><%=h param[:name_en] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Details</h2>
          <dl class="dl-horizontal">
          <dt>Subject area</dt><dd><%=h param[:name_en] %></dd>
          <dt>Name in Japanese</dt><dd><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></dd>
          <dt>Type of school</dt><dd><a href="<%=h relative_path_uri(param[:school], :en) %>"><%=h param[:school_name_en] %></a></dd>
          <dt>Curriculum guideline</dt><dd><a href="<%=h relative_path_uri(param[:curriculum], :en) %>"><%=h param[:school_name_en] %> (since AY<%=h param[:curriculum].last_part %>)</a></dd>
          <%- if param[:subjectType] -%>
          <%- param[:subjectType].each do |type| -%>
          <dt>Type of Subject area</dt><dd><a href="<%=h relative_path_uri(type[:uri], :en) %>"><%=h type[:name] %></a></dd>
          <%- end -%>
          <%- end -%>
          <dt>Sort order of subjects</dt><dd><%=h param[:order].join(", ") %></dd>
          </dl>
        </div>
      </div>
      <%- if not param[:subjects].empty? -%>
      <div class="row">
        <div class="col-md-12">
          <h2>List of subjects</h2>
          <ul>
            <%- param[:subjects].each do |subject| -%>
              <li><a href="<%=h subject[:uri].last_part %>"><%=h subject[:name_en] %></a>
            <%- end -%>
          </ul>
        </div>
      </div>
      <%- end -%>
      <%- if param[:textbooks] -%>
      <div class="row">
        <div class="col-md-12">
          <h2>List of textbooks</h2>
            <ul>
              <%- param[:textbooks].each do |textbook| -%>
                <li><a href="<%=h relative_path_uri(textbook[:uri], :en) %>"><%=h textbook[:name] %> (<%=h textbook[:publisher] %>)</a></li>
              <%- end -%>
            </ul>
          </div>
        </div>
      <%- end -%>
    </div>
