    <div class="jumbotron">
      <div class="container">
        <%- if param[:name_yomi] -%>
        <h1><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></h1>
        <%- else -%>
        <h1><%=h param[:name] %></h1>
        <%- end -%>
        <p><%=h param[:curriculum].last_part %>年度施行 <%=h param[:school].last_part %> 学習指導要領</p>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="../"><%=h param[:school].last_part %> 学習指導要領 (<%=h param[:curriculum].last_part %>年度以降)</a></li>
            <li class="active"><%=h param[:name] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>詳細</h2>
          <dl class="dl-horizontal">
          <dt>教科名</dt><dd><ruby><%=h param[:name] %><rt><%=h param[:name_yomi] %></rt></ruby></dd>
          <dt>教科名（英語表記）</dt><dd><%=h param[:name_en] %></dd>
          <dt>学校種別</dt><dd><a href="<%=h param[:school].sub("https://w3id.org/jp-textbook/", "../../../../") %>"><%=h param[:school].last_part %></a></dd>
          <dt>学習指導要領</dt><dd><a href="../../<%=h param[:curriculum].last_part %>"><%=h param[:curriculum].last_part %>年 (<%=h param[:curriculum].last_part.to_year_era %>) 施行</a></dd>
          <%- if param[:subjectType] -%>
          <%- param[:subjectType].each do |type| -%>
          <dt>教科種別</dt><dd><a href="<%=h type[:uri].sub("https://w3id.org/jp-textbook/", "../../../../") %>"><%=h type[:name] %></a></dd>
          <%- end -%>
          <%- end -%>
          <dt>検定申請受理種目掲載順</dt><dd><%=h param[:order].join(", ") %></dd>
          </dl>
        </div>
      </div>
      <%- if not param[:subjects].empty? -%>
      <div class="row">
        <div class="col-md-12">
          <h2>種目一覧</h2>
          <ul>
            <%- param[:subjects].each do |subject| -%>
              <li><a href="<%=h subject[:uri] %>"><%=h subject[:name] %></a>
            <%- end -%>
          </ul>
        </div>
      </div>
      <%- end -%>
      <%- if param[:textbooks] -%>
      <div class="row">
        <div class="col-md-12">
          <h2>教科書一覧</h2>
            <ul>
              <%- param[:textbooks].each do |textbook| -%>
                <li><a href="<%=h textbook[:uri].to_s.sub("https://w3id.org/jp-textbook/", "../../../../") %>"><%=h textbook[:name] %> (<%=h textbook[:publisher] %>)</a></li>
              <%- end -%>
            </ul>
          </div>
        </div>
      <%- end -%>
    </div>
