    <div class="jumbotron">
      <div class="container">
        <div class="btn-group pull-right" role="group" aria-label="教科書記号・教科書番号">
          <button type="button" class="btn btn-default btn-lg"><%=h param[:textbookSymbol] %></button>
          <button type="button" class="btn btn-default btn-lg"><%=h param[:textbookNumber] %></button>
        </div>
        <h1><%=h param[:name] %>
        <%- if param[:bookEdition] -%>
          <small><%= param[:bookEdition] %></small>
        <%- end -%>
        </h1>
        <p><%=h param[:publisher] %></p>
        <p><%=h param[:school_name] %> - <%=h param[:subject_name] || param[:subjectArea_name] %>
          <%- if param[:grade] -%>
            (<%= param[:grade] %>年生)
          <%- end -%>
        </p>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="../../../<%=h param[:curriculum].sub("https://w3id.org/jp-textbook/", "") %>"><%=h param[:school_name] %> 学習指導要領 (<%=h param[:curriculum].last_part %>年度以降)</a></li>
            <li><a href="../../../<%=h param[:subjectArea].sub("https://w3id.org/jp-textbook/", "") %>"><%=h param[:subjectArea_name] %></a></li>
            <%- if param[:subject] -%>
            <li><a href="../../../<%=h param[:subject].sub("https://w3id.org/jp-textbook/", "") %>"><%=h param[:subject_name ] %></a></li>
            <%- end -%>
            <li class="active"><%=h param[:name] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>詳細情報</h2>
          <dl class="dl-horizontal">
            <dt>編著者<dd><%=h param[:editor] %></dd>
            <dt>教科 / 種目</dt>
            <dd>
              <a href="<%=h param[:subjectArea].sub("https://w3id.org/jp-textbook/", "../../../") %>"><%=h param[:subjectArea_name] %></a>
              <%- if param[:subject_name] -%>
                / <a href="<%=h param[:subject].sub("https://w3id.org/jp-textbook/", "../../../") %>"><%=h param[:subject_name] %></a>
              <%- end -%>
            </dd>
            <dt>使用年度</dt><dd><%=h param[:usageYear] %> (<%=h param[:usageYear].gsub(/\d\d\d\d/){|y| y.to_year_era } %>)</dd>
            <dt>検定年度</dt><dd><%=h param[:authorizedYear] %> (<%=h param[:authorizedYear].to_year_era %>)</dd>
            <dt>教科書目録掲載年度</dt>
            <dd><% catalogues = param[:catalogue].sort.map do |catalogue|
                     %Q|<a href="#{h catalogue }">#{h catalogue.last_part } (#{h catalogue.last_part.to_year_era})</a>|
                   end -%>
                 <%= catalogues.join(", ") -%>
            </dd>
            <dt>学習指導要領</dt><dd><a href="<%=h param[:curriculum] %>"><%=h param[:curriculum_year] %> (<%=h param[:curriculum_year].to_year_era %>)</a></dd>
            <%- if param[:note] -%>
            <dt>注記</dt><dd><%=h param[:note] %></dd>
            <%- end -%>
          </dl>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2>関連リンク</h2>
          <ul>
            <%- param[:item].each do |item| -%>
            <li><a href="https://nieropac.nier.go.jp/ebopac/<%=h item[:recordID] %>">国立教育政策研究所 教育図書館 OPAC</a> <span class="callNumber" title="請求記号"><%=h item[:callNumber] %></span></li>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>
