    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:school_name] %> <%=h param[:subject_name] || param[:subjectArea_name] %> 教科書一覧</h1>
        <p><%=h param[:startDate_str] %>年度施行 学習指導要領</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>教科書一覧</h2>
          <ul>
            <%- param[:textbooks].each do |textbook| -%>
              <li><a href="<%=h textbook[:uri].to_s.sub("https://w3id.org/jp-textbook/", "../../../") %>"><%=h textbook[:name] %> (<%=h textbook[:publisher] %>)</a></li>
            <%- end -%>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li><a href="../<%=h param[:curriculum_name] %>.html"><%=h param[:school_name] %>学習指導要領</a></li>
          </ul>
        </div>
      </div>
    </div>
