    <div class="jumbotron">
      <div class="container">
        <div class="btn-group pull-right" role="group" aria-label="教科書記号・教科書番号">
          <button type="button" class="btn btn-default btn-lg"><%=h param[:textbookSymbol] %></button>
          <button type="button" class="btn btn-default btn-lg"><%=h param[:textbookNumber] %></button>
        </div>
        <h1><%=h param[:name] %>
        <%- if param[:bookEdition] -%>
          <small><%= param[:bookEdition] %></small>
        <%- end -%>
        </h1>
        <p><%=h param[:publishers].first[:name] %></p>
        <p><%=h param[:school_name] %> - <%=h param[:subject_name] || param[:subjectArea_name] %>
          <%- if param[:grade] -%>
            (<%= param[:grade].join(", ") %>年生)
          <%- end -%>
        </p>
        <p><small><span class="glyphicon glyphicon-link"></span> <a href="<%=h param[:uri] %>"><%=h param[:uri] %></a></small></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="../../../"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
            <li><a href="<%=h relative_path_uri(param[:curriculum]) %>"><%=h param[:school_name] %> 学習指導要領 (<%=h param[:curriculum].last_part %>年度以降)</a></li>
            <li><a href="<%=h relative_path_uri(param[:subjectArea]) %>"><%=h param[:subjectArea_name] %></a></li>
            <%- if param[:subject] -%>
            <li><a href="<%=h relative_path_uri(param[:subject]) %>"><%=h param[:subject_name ] %></a></li>
            <%- end -%>
            <li class="active"><%=h param[:name] %></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>詳細情報</h2>
          <dl class="dl-horizontal">
            <dt>書名</dt><dd><%=h param[:name] %></dd>
            <dt>編著者</dt><dd><%=h param[:editor] %></dd>
            <dt>出版社名</dt>
            <%- param[:publishers].each do |publisher| -%>
            <dd><a href="<%=h relative_path_uri(publisher[:uri]) %>"><%=h publisher[:name] %></a></dd>
            <%- end -%>
            <%- if param[:bookEdition] -%>
            <dt>版</dt><dd><%=h param[:bookEdition] %></dd>
            <%- end -%>
            <dt>学校種別</dt><dd><a href="<%=h relative_path_uri(param[:school]) %>"><%=h param[:school_name] %></a></dd>
            <dt>教科書記号</dt><dd><%=h param[:textbookSymbol] %></dd>
            <dt>教科書番号</dt><dd><%=h param[:textbookNumber] %></dd>
            <dt>教科 / 種目</dt>
            <dd>
              <a href="<%=h relative_path_uri(param[:subjectArea]) %>"><%=h param[:subjectArea_name] %></a>
              <%- if param[:subject_name] -%>
                / <a href="<%=h relative_path_uri(param[:subject]) %>"><%=h param[:subject_name] %></a>
              <%- end -%>
            </dd>
            <%- if param[:grade] -%>
            <dt>使用学年</dt><dd><%= param[:grade].join(", ") %>年生</dd>
            <%- end -%>
            <%- if param[:dimensions] -%>
            <dt>大きさ</dt><dd><%= param[:dimensions] %></dd>
            <%- end -%>
            <%- if param[:extent] -%>
            <dt>ページ数</dt><dd><%= param[:extent] %></dd>
            <%- end -%>
            <%- if param[:isbn] -%>
              <%- param[:isbn].each do |isbn| -%>
              <dt>ISBN</dt><dd><%= isbn %></dd>
              <%- end -%>
            <%- end -%>
            <dt>使用年度</dt><dd><%=h param[:usageYear] %> (<%=h param[:usageYear].gsub(/\d\d\d\d/){|y| y.to_year_era } %>)</dd>
            <dt>検定年</dt><dd><%=h param[:authorizedYear] %> (<%=h param[:authorizedYear].to_year_era %>)</dd>
            <dt>掲載教科書目録</dt>
            <%- catalogues = param[:catalogue].sort.map do |catalogue|
                  %Q|<a href="#{h relative_path_uri(catalogue) }">#{h catalogue.last_part } (#{h catalogue.last_part.to_year_era})</a>|
                end -%>
            <dd><%= catalogues.join(", ") -%></dd>
            <dt>学習指導要領</dt><dd><a href="<%=h relative_path_uri(param[:curriculum]) %>"><%=h param[:curriculum_year] %> (<%=h param[:curriculum_year].to_year_era %>)</a></dd>
            <%- if param[:note] -%>
              <dt>注記</dt>
              <%- param[:note].each do |note| -%>
              <dd><%=h note %></dd>
              <%- end -%>
            <%- end -%>
          </dl>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2>関連リンク</h2>
          <ul>
            <%- param[:item].each do |item| -%>
              <%- case item[:holding] -%>
              <%- when :nier -%>
              <li><a href="https://nieropac.nier.go.jp/lib/database/TEXTBOOK/<%=h item[:recordID] %>/">国立教育政策研究所 教育図書館 OPAC</a> <span class="callNumber" title="請求記号"><%=h item[:callNumber] %></span></li>
              <%- when :textbook_rc -%>
              <li><a href="javascript:document.getElementById('textbook_rc_lib_<%=h item[:recordID] %>').submit()">教科書研究センター附属教科書図書館 OPAC</a> <span class="callNumber" title="請求記号"><%=h item[:callNumber] %></span></li>
              <form action="http://textbook-rc-lib.net/Opac/search.htm" id="textbook_rc_lib_<%=h item[:recordID] %>" method="post">
                <input type="hidden" name="s" value="-cKZ-xZqMVYzA_3dOR9fO1zB6wh">
                <input type="hidden" name="ie6_s_target" value="ds">
                <input type="hidden" name="form_name" value="form">
                <input type="hidden" name="d_free_word" value="<%=h item[:recordID] %>">
                <input type="hidden" name="ds" value="検索">
              </form>
              <%- end -%>
            <%- end -%>
          </ul>
          <%- if param[:seeAlso] and not param[:seeAlso].empty? -%>
            <ul>
              <%- param[:seeAlso].each do |link| -%>
                <%- case link[:key] -%>
                <%- when :ndl_jpno -%>
                  <li><a href="<%=h link[:url] %>">国立国会図書館サーチ (JPNO: <%=h link[:url].last_part %>)</a></li>
                <%- when :ndl_bibid -%>
                  <li><a href="<%=h link[:url] %>">国立国会図書館オンライン (NDLBibID: <%=h link[:url].last_part %>)</a></li>
                <%- when :ncid -%>
                  <li><a href="<%=h link[:url] %>">CiNii Books (NCID: <%=h link[:url].last_part %>)</a></li>
                <%- else -%>
                  <li><a href="<%=h link[:url] %>"><%=h link[:url] %></a></li>
                <%- end -%>
              <%- end -%>
            </ul>
          <%- end -%>
          <%- if param[:isbn] -%>
            <ul>
              <%-
              { "国立国会図書館サーチ": "http://iss.ndl.go.jp/api/openurl?isbn=",
                "CiNii Books": "http://ci.nii.ac.jp/books/openurl/query?isbn=",
                "カーリル": "http://api.calil.jp/openurl?rft.isbn=",
              }.each do |label, url|
                next if url == "http://iss.ndl.go.jp/api/openurl?isbn=" and param[:seeAlso] and param[:seeAlso].find{|e| e[:key] == :ndl_jpno or e[:key] == :ndl_bibid }
                next if url == "http://ci.nii.ac.jp/books/openurl/query?isbn=" and param[:seeAlso] and param[:seeAlso].find{|e| e[:key] == :ncid }
                param[:isbn].each do |isbn| -%>
                <li><a href="<%= url %><%=h isbn %>"><%=h label %></a><%=h param[:isbn].size > 1 ? " (#{isbn})" : "" %></li>
                <%- end -%>
              <%- end -%>
            </ul>
          <%- end -%>
        </div>
      </div>
    </div>
